section.about-us-home
	.site-container.about-us-home__container
		p
			|	Приют - это наше детище, наше самое большое хобби, пусть тяжелое, но самое светлое и любимое. Мы всегда ждем в нашей команде тех, кто также любит животных <strong>– именно Вас!</strong>

		.about-us-home__images.grid
			- for (let i = 0; i<4; i++)
				img(src=`img/about-us/about-us-home-img${i}.jpg`, alt="Описание")
