section.about-us-content
	.about-us-content__container.site-container
		h1.about-us-content__title.second-title
			|	О нас
		.about-us-content__content
			.about-us-content__block.grid
				._left
					h2
						|	«Однажды мы решили построить приют…»
					p
						|	- хотелось бы начать так, но на самом деле однажды мы просто поняли, что в наши квартиры невозможно вместить больше ни одного хвоста сверх уже проживающих – ну не растягиваются квартиры. А раз так, то взяли мы в свои несколько женских рук топоры, пилы, лопаты – и пошли строить вольеры на небольшом арендованном участке. Было это в мае 2009 года.
					p
						|	Жаль, что тогда не было телефонов, на которые можно было бы заснять, как городские белоручки впервые в жизни увидели кровавые мозоли – на своих собственных руках. Как взрослые люди учились пилить, рубить, разгружать – и загружать – КАМАЗы, ходить на колонку за водой. В кромешной темноте бежать на другой конец города, чтобы до работы успеть убраться и накормить, а потом – то же самое после работы. Было трудно – ведь это был первый опыт строительства приюта в нашей области, да и в России один из первых.
				._right
					img(src="img/about-us/img1.jpg", alt="Описание" class="about-us-content__img")
					.about-us-content__video.js-vid-play(id="vid-one" yt-iframe data-autoplay="true" data-vid-rcs="https://www.youtube.com/watch?v=vNM2HELxNMg")
						._link-logo
							+icon("play")(class="_link-logo-icon")
			.about-us-content__block.grid
				._left
					p
						|	Как много всего было за эти годы: два вынужденных переезда (а это значит – опять с нуля, только уже с большим количеством животных), бессонные ночи (и конца им не видно), слёзы, отчаяние, очень много «я больше не могу» (и некоторые не смогли – ушли), бесконечная неравная борьба с чиновниками (и ей тоже не видно конца и края)… В общем, если бы нам раньше рассказали, какой путь придётся пройти – мы бы просто не поверили. Но – выдюжили. Потому что ведь у медали две стороны. И на другой: настоящие, надёжные друзья (мы стали друг другу очень близки), сотни спасённых жизней (а значит, всё не зря), как ни странно – вера в людей, потому что в самые отчаянные моменты кто-то подставлял плечо.
					p
						|	Приют всегда был и остается исключительно благотворительным: существует на пожертвования неравнодушных граждан и средства самих организаторов, живёт благодаря труду немногочисленных волонтеров – простых людей (со своими семьями, работой, учебой, проблемами и пр.). У нас нет государственной поддержки, спонсоров и платных вольеров (никакой коммерции), нам никто не «дарил землю» и не «жертвовал миллионы». <strong>Каждый день – это борьба, огромная работа по поддержанию деятельности приюта и сохранению счастливой жизни тех, за кого мы в ответе.</strong>
				._right
					img(src="img/about-us/img1.jpg", alt="Описание" class="about-us-content__img")
					.about-us-content__video.js-vid-play(id="vid-two" yt-iframe data-autoplay="true" data-vid-rcs="https://www.youtube.com/watch?v=vNM2HELxNMg")
						._link-logo
							+icon("play")(class="_link-logo-icon")
			.about-us-content__block.grid
				._left
					p
						|	Всё начиналось с 13 собак, а сегодня нас встречают 350 хвостиков, в основном - собачьих, но есть и 60 кошек - куда же без них. В приюте много старичков, инвалидов (в том числе спинальники-колясочники, слепыши, трехлапики, хроники…), у каждого питомца за плечами целая история (чаще всего связанная с болью и предательством, которое теперь позади). Главный принцип приюта заключается в том, чтобы питомцы чувствовали себя как дома (хотя ни один приют не заменит хозяйскую любовь и заботу): гуляли каждый день, не знали недостатка в еде, тепле, общении, были обеспечены мед.уходом в случае необходимости…надеемся, что это нам удаётся.
					p
						|	Все питомцы ищут дом - но далеко не все находят, проживая всю свою жизнь в стенах приюта. К сожалению, мы не можем «прыгнуть выше головы», приняв всех нуждающихся, и каждый звонок (а звонков и сообщений таких немало) «мы нашли щенков» / «умерла соседка – примите кошку» отдаётся в наших сердцах дикой болью. Мы помогаем пристраивать животных с улиц, активно проводим программу стерилизации, работаем с населением (акции, экскурсии, лекции, пропаганда гуманного отношения к природе в соц.сетях), консультируем по юридическим вопросам и пытаемся повлиять на законотворчество в сфере защиты прав животных.
				._right
					img(src="img/about-us/img1.jpg", alt="Описание" class="about-us-content__img")
					.about-us-content__video.js-vid-play(id="vid-three" yt-iframe data-autoplay="true" data-vid-rcs="https://www.youtube.com/watch?v=vNM2HELxNMg")
						._link-logo
							+icon("play")(class="_link-logo-icon")
