section.our-team
	.site-container.our-team__container.js-swiper(data-swiper-slides-preview="1", data-swiper-gap="10")
		.our-team__title-wrap
			h2.our-team__title.second-title
				|	Наша команда
			.slider-nav.our-team__slider-nav
				button.button-reset.slider-button._prev.js-slider-btn-prev(aria-label="Предыдущий слайд")
					+icon("arrow-prev")(class="slider-button__icon")
				button.button-reset.slider-button._next.js-slider-btn-next(aria-label="Следующий слайд")
					+icon("arrow-next")(class="slider-button__icon")
		.our-team__slider.slider-container.swiper-container.js-swiper-container
			.swiper-wrapper
				.our-team__card.swiper-slide
					img(src="img/about-us/our-team-img1.jpg", alt="/" class="our-team__card-img")
					.our-team__card-info
						h3.our-team__card-title
							|	Прохорова Елена Анатольевна
						span.our-team__card-subtitle
							|	Председатель ОЗЖ «Верные друзья»
						p
							|	«Хотите познакомиться с основательницей приюта «Верные друзья»? Она перед Вами. Рыжая, голубоглазая, любимая)
							|	Весной 2009 года она и 12 её братьев и сестёр (все родились одновременно, под бытовкой на стройке) появились в моей жизни, и я вступила на тропу, с которой свернуть не могу и не хочу.  И вот - разрушенная десятком мохнатых бесят квартира, бессонные ночи, слёзы при проводах в новые дома (из этих двух помётов были пристроены все, кроме Рыжки, которая никому не приглянулась и осталась со мной). И – понимание того, что «домой всех не возьмёшь».
							|	Иногда спрашиваю себя: если бы знала, каково это будет - ввязалась бы? Ответ: не знаю, не уверена. Жалею ли, что ввязалась? Нет, ни минуты. Теперь я знаю, что можно быть смертельно усталым, но довольным. Что могут быть проблемы, которые тебе важнее своих.Но что на свете есть прекрасные люди и замечательная молодёжь. Девчонки, которые в свои выходные в любой мороз или дождь с утра до вечера готовы «пахать» ради этих мокрых носов.
							br
							|	А ещё хочу при всех сказать моей команде: я ни на что не променяла бы вашу дружбу!»
				.our-team__card.swiper-slide
					img(src="img/about-us/our-team-img2.jpg", alt="/" class="our-team__card-img")
					.our-team__card-info
						h3.our-team__card-title
							|	Минаева Анастасия
						span.our-team__card-subtitle
							|	Ветеринарный врач, волонтер
						p
							|	«Я всегда была близка с природой (да и по первому образованию я эколог), но в детстве у меня почему-то не было большого количества животных…всё закрутилось в сентябре 2012 года, когда мы с подругами пришли в приют просто поиграть со щеночками. Праздное любопытство сменилось желанием помогать - с тех пор уйти я больше не смогла, ведь столько преданных сердец нуждалось в моей помощи и любви, и столько непосильной работы тащили на себе немногочисленные волонтеры. Стала приходить гулять с собаками, помогать с уборкой, волонтерить на акциях (а позже взялась за их проведение), забирала животных на передержку, участвовала в авантюрных поимках покалеченных животных, брала на себя всё больше и больше ответственности и задач. Сейчас я, наверное, один из основных волонтеров приюта, знаю каждый винтик в вольерах и каждую шерстинку наших подопечных.
							br
							|	Меня очень многому научил приют: как можно искренне любить, смеяться сквозь слезы и плакать от счастья, какое чистое сердце может быть у самой обычной дворняги, и какое грязное – у некоторых людей.
				.our-team__card.swiper-slide
					img(src="img/about-us/our-team-img3.jpg", alt="/" class="our-team__card-img")
					.our-team__card-info
						h3.our-team__card-title
							|	Морозова Екатерина
						span.our-team__card-subtitle
							|	Кинолог
						p
							|	Не просто старший сотрудник, волонтер, кинолог, швея амуниции, вет.фельдшер, фотограф, но и хороший друг!
							|	«2010 год - мое первое знакомство с приютом.
							br
							|	Тогда я ещё училась в академии, и узнав, что у нас в Калуге организуется приют для бездомных животных (тогда это было всего 5 вольеров в районе подзавалья), списалась с волонтёрами и стала приходить помогать: прибраться в вольерах и гулять с собаками.
							|	Всегда свою профессию я хотела связать с животными, закончила Тимирязевскую академию и стала искать работу по душе.
							br
							|	Планировала устроиться на службу кинологом во ФСИН, но в 2013 году увидала объявление о том, что в приют (который к тому моменту уже переехал и значительно расширился) требуется сотрудник – не раздумывая пошла. Я планировала поработать в приюте годик и всё же пойти во ФИСИН, но так и осталась тут – ведь здесь моя душа».
				.our-team__card.swiper-slide
					img(src="img/about-us/our-team-img4.jpg", alt="/" class="our-team__card-img")
					.our-team__card-info
						h3.our-team__card-title
							|	Шеманская Наталья
						span.our-team__card-subtitle
							|	Волонтер
						p
							|	"Я стала волонтером приюта "Верные друзья" 10 лет назад. Как-то натолкнулась на темы помощи животным других городов, следила, немного помогала материально, а потом поняла, что у меня есть силы на большее, а главное, есть огромное желание быть волонтером - помогать животным. Так я нашла приют «Верные друзья» в Калуге и не раздумывая поехала. Был январь 2011 года. Приют в заброшенном бычатнике. Хоть на тот момент собак было меньше раз в 10, чем сейчас (а кошек не было и вовсе), но работы уже было очень много. Каждые выходные в приюте, поездки с больными щенками в клинику на маршрутке, зимние ночи в поисках травмированного пса...Было много разного (и радость и слезы) за все время моего волонтерства, но не было ни дня, чтобы я пожалела. Я очень сильно люблю наших питомцев, очень ценю и горжусь нашей командой, пусть нас и немного. Я не могу представить свою жизнь без приюта, и хоть жизненные обстоятельства меняются, я каждый выходной с радостью еду в приют ухаживать за любимыми подопечными и дарить им такую необходимую частичку тепла и домашней заботы.»
