@font-face {
	font-weight: 800;
	font-family: "Jost";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Jost-ExtraBold.woff2") format("woff2"),
		url("../fonts/Jost-ExtraBold.woff") format("woff");
}

@font-face {
	font-weight: 700;
	font-family: "Jost";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Jost-Bold.woff2") format("woff2"),
		url("../fonts/Jost-Bold.woff") format("woff");
}

@font-face {
	font-weight: 400;
	font-family: "Jost";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Jost-Regular.woff2") format("woff2"),
		url("../fonts/Jost-Regular.woff") format("woff");
}


@font-face {
	font-weight: 400;
	font-family: "OpenSans";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/OpenSans-Regular.woff2") format("woff2"),
		url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
	font-weight: 500;
	font-family: "OpenSans";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/OpenSans-Medium.woff2") format("woff2"),
		url("../fonts/OpenSans-Medium.woff") format("woff");
}
