@import "mixins/media";
@import "mixins/px-to-rem";
@import "fonts";

.button-reset {
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
}

.logo {
	display: flex;
	align-items: center;

	&__img {
		display: block;
		max-width: rem(117px);
		margin-right: rem(17px);
	}

	&__text {
		max-width: rem(244px);
		font: var(--font-small);
		transition: color var(--main-transition);

		&._white {
			color: var(--color-white);
		}
	}

	&:hover,
	&:focus {
		.logo__text {
			color: var(--color-green);
		}
	}
}

.social-links {
	display: flex;
	align-items: center;

	&__item {
		margin-right: rem(10px);

		&:last-child {
			margin-right: 0;

			.icon-tiktok {
				fill: none;
				stroke: var(--color-white);
				stroke-width: 3px;
			}
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: var(--color-orange);
		width: rem(32px);
		height: rem(32px);
		border-radius: 100%;
		transition: background-color var(--main-transition);

		&:hover,
		&:focus {
			background-color: #e78700;
		}
	}

	&__icon {
		display: block;
		width: rem(16px);
		height: rem(16px);
		fill: var(--color-white);
	}
}

.button {
	padding: rem(16px) rem(32px);
	color: var(--color-white);
	font: var(--font-normal);
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--color-green);
	border-radius: var(--offset24);
	cursor: pointer;
	transition: background-color var(--main-transition);

	&:hover,
	&:focus {
		background-color: var(--button-hover);
	}
}

.button-burger {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: rem(40px);
	height: rem(40px);
	cursor: pointer;

	span {
		display: block;
		width: 100%;
		height: rem(4px);
		border-radius: rem(10px);
		background-color: var(--color-orange);
		transition: opacity var(--main-transition), transform var(--main-transition);
		transition: background-color var(--main-transition);

		&:nth-child(2) {
			margin: rem(8px) 0;
		}
	}

	&._is-active {
		span {
			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(1) {
				transform: translateY(1.2rem) rotate(45deg);

				@include mq(xxs) {
					transform: translateY(0.8rem) rotate(45deg);
				}
			}

			&:nth-child(3) {
				transform: translateY(-1.2rem) rotate(-45deg);

				@include mq(xxs) {
					transform: translateY(-0.8rem) rotate(-45deg);
				}
			}
		}
	}

	&:hover,
	&:focus {
		span {
			background-color: #e78700;
		}
	}
}

.hero-title {
	font: var(--font-xl);
	text-transform: uppercase;
}

.section {
	margin-bottom: rem(100px);

	@include mq(sm) {
		margin-bottom: rem(60px);
	}
}

.second-title {
	font: var(--font-big);
	text-transform: uppercase;

	@include mq(sm) {
		font: var(--font-large);
		font-weight: 800;
	}
}

.slider-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: rem(60px);
}

.slider-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(24px);
	height: rem(24px);
	background-color: var(--color-orange);
	border-radius: 100%;
	cursor: pointer;
	transition: background-color var(--main-transition);


	&__icon {
		pointer-events: none;
		width: rem(5px);
		height: rem(9px);
		fill: var(--color-white);
	}

	&.swiper-button-disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	&:hover,
	&:focus {
		background-color: #e78700;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: rem(32px);

	@include mq(sm) {
		gap: rem(24px);
	}
}

.global-link {
	position: relative;
	display: inline-block;
	color: var(--color-green);
	font: var(--font-normal);
	text-transform: uppercase;
	transition: color var(--main-transition);

	&::before {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		border-bottom: 1px dashed var(--color-green);
		transition: opacity var(--main-transition);
		content: "";
	}

	&:hover {
		color: var(--color-orange);
		&::before {
			opacity: 0;
		}
	}

	&:focus {
		color: var(--color-orange);
		&::before {
			opacity: 0;
		}
	}
}

.input {
	width: 100%;
	height: 5.6rem;
	font: var(--font-small);
	font-weight: 600;
	color: var(--color-dark);
	background-color: var(--color-white);
	border: 1px solid var(--border-color);
	border-radius: 6px;
	padding: rem(28px) rem(20px) rem(8px) rem(20px);
	outline: none;

	&._active {
		~ .input-heading {
			top: 35%;
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
	}

	&:focus {
		~ .input-heading {
			top: 35%;
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
	}

	&.parsley-error {
		border-color: var(--color-error);
	}
}

.input-heading {
	position: absolute;
	top: 50%;
	left: rem(20px);
	display: block;
	font: var(--font-small);
	color: var(--color-dark);
	transform: translateY(-50%);
	transition: all var(--main-transition);

	&._required {
		&::before {
			position: absolute;
			top: 0;
			right: -0.8rem;
			width: rem(4px);
			height: rem(4px);
			background-color: var(--color-green);
			border-radius: 50%;
			content: "";
		}
	}

	&._active {
		top: 35%;
		font-size: 1.2rem;
		line-height: 1.6rem;
	}
}

.slider-container {
	position: relative;
	overflow: hidden;
}

.js-tab-content:not(.mod-show) {
	display: none;
}

.financial-doc {
	display: inline-flex;
	align-items: center;
	transition: color var(--main-transition);

	&__icon {
		fill: var(--color-dark);
		margin-right: 1rem;
		transition: fill var(--main-transition);
	}

	&:hover {
		color: var(--color-orange);

		.financial-doc__icon {
			fill: var(--color-orange);
		}
	}
}

.docs {
	&__list {
		max-width: 48.1rem;
		width: 100%;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1.2rem;

		&:last-child {
			margin-bottom: 0;
		}

		@include mq(sm) {
			flex-wrap: wrap;
			justify-content: stretch;
		}
	}

	&__name {
		cursor: pointer;
		transition: color var(--main-transition);

		input:checked {
			~ span {
				color: var(--color-orange);
			}
		}

		&:hover {
			color: var(--color-orange);
		}

		@include mq(sm) {
			width: 100%;
		}
	}

	&__link {
		color: #bdbdbd;
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-orange);
		}

		&-img-mobile {

			@include mq(sm) {
				display: block;
				width: 28.7rem;
				height: 40.4rem;
				object-fit: cover;
				padding-top: 1.2rem;
			}
		}

		@include mq(md) {
			display: none;
		}
	}

	&__img {
		display: block;
		width: 48.1rem;
		height: 67.7rem;
		object-fit: cover;

		@include mq(md) {
			width: 34.8rem;
			height: 49rem;
		}
	}

	&__drop-container {
		display: none;

		@include mq(sm) {
			display: block;
		}
	}
}

.drop-container {
	position: relative;
	overflow: hidden;
	transition: max-height var(--main-transition);
	max-height: 0;
}


.fancybox__backdrop {
	background: rgba(28, 28, 28, 0.3) !important;
}

.carousel__button.is-next,
.carousel__button.is-prev {
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(24px);
	height: rem(24px);
	background-color: var(--color-orange);
	border-radius: 100%;
	cursor: pointer;
	transition: background-color var(--main-transition);
	position: static !important;
	top: auto !important;
	left: auto !important;
	right: auto !important;
	bottom: auto !important;
	transform: none !important;

	svg {
		width: rem(5px);
		height: rem(9px);
		fill: var(--color-white);
		stroke-width: 1px;
		stroke-linejoin: unset;
		stroke-linecap: unset;
		filter: none;
	}

	&:hover,
	&:focus {
		background-color: #e78700;
	}
}

.carousel__button.is-prev {
	order: 1;
}

.carousel__button.is-next {
	order: 2;
}

.fancybox__nav {
	position: absolute;
	bottom: 9rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 6rem;
}

.fancybox__viewport {
	height: 100%;
}

.fancybox__thumbs {
	display: none;
}

.fancybox__image {
	border-radius: 3.2rem;
	width: 68.7rem !important;
	height: 64.4rem !important;
	object-fit: cover !important;
	transition: width var(--main-transition);

	@include mq(xl) {
		width: 53.4rem !important;
		height: 53.4rem !important;
	}

	@include mq(sm) {
		width: 28.8rem !important;
		height: 27rem !important;
	}
}


.modal-heading {
	font: var(--font-big);
	font-weight: 700;
	text-transform: uppercase;
}

.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: var(--color-white);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity var(--main-transition), visibility var(--main-transition);

	&__logo {
		width: 21.7rem;
		animation: preloaderAnim 3s infinite linear;

		@include mq(md) {
			width: 19rem;
		}

		@include mq(sm) {
			width: 15rem;
		}
	}
}

.prealoader_is-loaded {
	opacity: 0;
	visibility: hidden;
}

@keyframes preloaderAnim {
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	to {
		transform: scale(1);
	}
}

.parsley-errors-list {
	position: absolute;
	right: 2rem;
	bottom: 0.2rem;
	color: var(--color-error);
	font: var(--font-tiny);
}
