:root {
	// Typography
	--main-ff: "Jost", sans-serif;
	--second-ff: "Jost", sans-serif;
	--sans-ff: "OpenSans", sans-serif;

	// colors
	--color-dark: #545454;
	--color-white: #fff;
	--color-orange: #eea640;
	--color-green: #6f9c1f;
	--color-black: #1c1c1c;
	--border-color: #d9d9d9;
	--button-hover: #8ebd3b;
	--color-error: tomato;

	// offset
	--grid-gap: 32px;
	--offset32: 32px;
	--offset24: 32px;
	--offset16: 16px;
	--offset12: 12px;

	// transition
	--main-transition: 200ms ease-in-out;

	// fonts
	--font-tiny: 400 1.2rem/1.6rem "Jost";
	--font-small: 400 1.4rem/2rem "Jost";
	--font-normal: 400 1.6rem/2.4rem "Jost";
	--font-middle: 400 2rem/2.8rem "Jost";
	--font-large: 400 2.4rem/3.2rem "Jost";
	--font-big: 800 3.6rem/4.6rem "Jost";
	--font-xl: 800 4.8rem/6.8rem "Jost";
}

$breakpoint-xxs: 480px;
$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 992px;
$breakpoint-lg: 1199px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1680px;
