- let tags_arr_docs = ["Финансовая отчетность", "Документация"];
- let financial_docs = ["Финансовая отчетность за 2016г.pdf", "Финансовая отчетность за 2017г.pdf", "Финансовая отчетность за 2018г.pdf", "Финансовая отчетность за 2019г.pdf", "Финансовая отчетность за 2020г.pdf", "Финансовая отчетность за 2021г.pdf"];
- let doc_docs = ["ОГРН 2009", "ОГРН 2014", "Свидетельство о внесении записи в ЕГРЮЛ 2009", "Свидетельство о внесении записи в ЕГРЮЛ 2012", "Свидетельство о гос. регистрации 2009", "Свидетельство о гос. регистрации 2014"];

section.documents-hero.section
	.site-container.documents-hero__container.js-tabs-container
		h1.documents-hero__title.second-title
			|	Отчеты и документы
		.site-tag.how-help-hero__tags
			for item, index in tags_arr_docs
				- let isChecked = index == 0 ? 'checked' : false;
				+useTag(item, isChecked)
		.documents-hero__content.js-tab-content(data-tabs-content="Финансовая отчетность")
			.documents-hero__financial-list.grid
				for item in financial_docs
					.documents-hero__financial-item
						a.financial-doc(href="/", download)
							+icon("doc")(width="20" height="20" class="financial-doc__icon")
							span=item
		.documents-hero__content.js-tab-content(data-tabs-content="Документация")
			.documents-hero__docs-container.grid.js-tabs-container
				.documents-hero__docs-col
					ul.docs__list
						for item, index in doc_docs
							- let isChecked2 = index == 0 ? 'checked' : false;
							li.docs__item
								label.docs__name.js-drop-menu-btn
									input(class="visually-hidden js-tab" checked=isChecked2 type="radio" name="tabs-content" value=item)
									span=item
								a.docs__link(href="/" download)
									|	 Скачать
								.js-drop-menu-container.drop-container.docs__drop-container
									.js-drop-menu
										img.docs__link-img-mobile(src=`img/docs/doc${index}.jpg` alt=item)

				.documents-hero__docs-col
					for item, index in doc_docs
						- let isFirstEl = index == 0 ? 'mod-show' : false;
						img.docs__img.js-tab-content(src=`img/docs/doc${index}.jpg` alt=item class=isFirstEl data-tabs-content=item)

