.gallery {
	&__title {
		margin-bottom: 3.2rem;

		@include mq(sm) {
			margin-bottom: 2.4rem;
		}
	}

	&__tags {
		margin-bottom: 6rem;

		@include mq(sm) {
			margin-bottom: 2.2rem;
			padding-bottom: 1rem;
		}
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 3.2rem;

		@include mq(sm) {
			gap: 0;
			row-gap: 2.4rem;
		}

		&-item {
			grid-column: 4 span;
			width: 100%;

			@include mq(md) {
				grid-column: 6 span;
			}

			@include mq(sm) {
				grid-column: 12 span;
			}
		}
	}

	&__content-company-life {
		a {
			grid-column: 3 span;
			width: 100%;
			height: 27.6rem;
			display: block;

			@include mq(md) {
				grid-column: 6 span;
				height: 34.8rem;
			}

			@include mq(sm) {
				grid-column: 12 span;
				height: 28.8rem;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 3.2rem;
			}
		}
	}

	@include mq(sm) {
		padding-top: 4rem;
	}
}
