- let tags_arr_gallery = ["Собаки ищут дом", "Кошки ищут дом", "Жизнь приюта", "Приветы из дома"];

section.gallery.section
	.site-container.gallery__container.js-tabs-container
		h1.gallery__title.second-title
			|	Фотогалерея
		.site-tag.gallery__tags
			for item, index in tags_arr_gallery
				- let isChecked = index == 0 ? 'checked' : false;
				+useTag(item, isChecked)
		.gallery__content.js-tab-content(data-tabs-content="Собаки ищут дом")
			- for (let i = 0; i<9; i++)
				.card.mod-gallery.gallery__content-item
					.js-pet-text.visually-hidden
						p
							|	Друзья, у нас для Вас есть уникальная собачка! Настоящая красавица, умница! Просто чудо! Давайте знакомиться? )
						p
							|	Для того, чтобы забрать питомца, свяжитесь с нами по телефонам:
					.js-pet-imgs.visually-hidden
						.swiper-slide.modal-pet__slider-item
							img(src="img/modal-pet/img1.jpg" alt="Описание")
						.swiper-slide.modal-pet__slider-item
							img(src="img/modal-pet/img1.jpg" alt="Описание")

					img(src="img/card/card-img.jpg" alt="Щеночек" class="card__image")
					.card__info
						span.card__legend
							|	Тайга
						span.card__sub-legend
							|	Девочка (1 год)
						p
							|	Друзья, у нас для Вас есть уникальная собачка! Настоящая красавица, умница! Просто чудо! Давайте знакомиться? )
						button.button-reset.button.card__button.js-open-pet-modal(data-path="first" data-animation="fadeInUp" data-speed="300")
							|	Приютить

		.gallery__content.js-tab-content(data-tabs-content="Кошки ищут дом")
			- for (let i = 0; i<9; i++)
				.card.mod-gallery.gallery__content-item
					img(src="img/card/card-img-cat.jpg" alt="Щеночек" class="card__image")
					.card__info
						span.card__legend
							|	Томат
						span.card__sub-legend
							|	Мальчик (1 год)
						p
							|	Друзья, у нас для Вас есть уникальная собачка! Настоящая красавица, умница! Просто чудо! Давайте знакомиться? )
						button.button-reset.button.card__button(data-path="first" data-animation="fadeInUp" data-speed="300")
							|	Приютить

		.gallery__content.gallery__content-company-life.js-tab-content(data-tabs-content="Жизнь приюта")
			- for (let i = 0; i<12; i++)
				a(href=`img/company-life/card${i}.jpg` data-fancybox="gallery")
					img(class="gallery__content-company-life-item" src=`img/company-life/card${i}.jpg`, alt="Описание")

		.gallery__content.js-tab-content(data-tabs-content="Приветы из дома")
			- for (let i = 0; i<9; i++)
				.card.mod-gallery.gallery__content-item
					img(src="img/card/card-img-cat.jpg" alt="Щеночек" class="card__image")
					.card__info
						span.card__legend
							|	Томат
						span.card__sub-legend
							|	Мальчик (1 год)
						p
							|	Друзья, у нас для Вас есть уникальная собачка! Настоящая красавица, умница! Просто чудо! Давайте знакомиться? )
						button.button-reset.button.card__button(data-path="second" data-animation="fadeInUp" data-speed="300")
							|	Подробнее

		.pagination
			button.button-reset.pagination__btn
				+icon("arrow-prev")(width="9" height="15")
			ul.pagination__list
				li.pagination__item
					a.pagination__link.active(href="/")
						|	1
				li.pagination__item
					a.pagination__link(href="/")
						|	2
				li.pagination__item
					a.pagination__link(href="/")
						|	3
				li.pagination__item
					| ...
				li.pagination__item
					a.pagination__link(href="/")
						|	24
			button.button-reset.pagination__btn
				+icon("arrow-next")(width="9" height="15")

