.news-detail {
	@include mq(sm) {
		padding-top: 4rem;
	}

	&__title {
		max-width: 58.4rem;
		margin-bottom: 6rem;

		@include mq(sm) {
			margin-bottom: 3.2rem;
		}
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 3.2rem;

		@include mq(md) {
			column-gap: 0;
			row-gap: 4rem;
		}

		@include mq(sm) {
			row-gap: 3.2rem;
		}
	}

	&__img {
		grid-column: 6 span;
		display: block;
		width: 100%;
		height: 48.1rem;
		object-fit: cover;
		border-radius: 3.2rem;

		@include mq(md) {
			grid-column: 12 span;
		}

		@include mq(sm) {
			height: 20rem;
		}
	}

	&__info {
		grid-column: 6 span;
		position: relative;

		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 2.4rem;
		}

		@include mq(md) {
			grid-column: 12 span;
		}

		@include mq(sm) {
			p {
				font: var(--font-small);
				margin-bottom: 1.2rem;
			}
		}
	}

	&__info-tags {
		margin-bottom: 2.4rem;
	}

	&__tag {
		display: inline-block;
		padding: 0.4rem 1.2rem;
		font: var(--font-tiny);
		border-radius: 0.4rem;
		color: #999999;
		background-color: var(--border-color);
		margin-right: 1.2rem;

		&:last-child {
			margin-right: 0;
		}

		&._type {
			color: var(--color-white);
			background-color: var(--color-orange);
		}
	}
}
