.news-detail-slider {
	&__title-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 3.2rem;

		@include mq(sm) {
			.slider-nav {
				display: none;
			}
		}
	}

	&__title {
		margin-bottom: 0;
	}
}
