.breadcrumbs {
	display: inline-flex;
	align-items: center;

	&__item {
		font: var(--font-small);
		color: var(--color-dark);

		&-link {
			display: inline-block;
			font: var(--font-small);
			color: #999;
			margin-right: 5px;
		}
	}

	&__container {
		margin-top: rem(40px);
		margin-bottom: rem(60px);

		@include mq(sm) {
			display: none;
		}
	}
}
