.card {
	position: relative;
	width: 37.9rem;
	border: 1px solid var(--border-color);
	border-radius: 32px;
	overflow: hidden;
	transition: transform var(--main-transition), box-shadow var(--main-transition);

	&:hover {
		transform: translateY(-1rem);
		box-shadow: 0 5px 8px var(--border-color);
	}

	&__image {
		display: block;
		width: 100%;
		height: 28.4rem;
		object-fit: cover;

		@include mq(sm) {
			height: rem(200px);
		}
	}

	&__info {
		padding: rem(24px) rem(32px);

		@include mq(sm) {
			padding: rem(24px);
		}
	}

	&__legend {
		display: block;
		margin-bottom: 1.2rem;
		font: var(--font-middle);
		font-weight: 700;
		text-transform: uppercase;
	}

	&__sub-legend {
		display: block;
		margin-bottom: 1.2rem;
		font: var(--font-small);
	}

	p {
		margin-bottom: 1.5rem;

		&:nth-last-of-type(1) {
			margin-bottom: 4rem;

			@include mq(sm) {
				margin-bottom: rem(24px);
			}
		}
	}

	&__progress {
		margin-bottom: 3.2rem;

		&-line {
			position: relative;
			overflow: hidden;
			display: block;
			margin-bottom: rem(12px);
			width: 100%;
			height: rem(6px);
			border-radius: 17px;
			background-color: rgba(142, 189, 59, 0.2);
		}

		&-line-inner {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 50%;
			background-color: #8EBD3B;
			border-radius: 17px;
		}

		&-items {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 33.3%;
		}

		&-item-heading {
			display: block;
			margin-bottom: 4px;
			font-weight: 700;
		}

		&-item-text {
			font: var(--font-tiny);
		}
	}

	&__button {
		width: 100%;
		padding: rem(16px);
	}

	&.mod-gallery {
		.card__legend {
			margin-bottom: 0.4rem;
		}

		p:nth-last-of-type(1) {
			margin-bottom: 3.2rem;
		}

		@include mq(md) {
			width: 34.8rem;

			.card__image {
				height: 26rem;
			}

			.card__info {
				padding: 2.4rem;
			}
		}

		@include mq(sm) {
			width: 100%;

			.card__image {
				height: 21.6rem;
			}

			.card__info {
				padding: 1.6rem;
			}


			p {
				font: var(--font-small);

				&:nth-last-of-type(1) {
					margin-bottom: 1.6rem;
				}
			}
		}
	}
}
