.footer {
	padding: rem(70px) 0 rem(100px) 0;
	color: var(--color-white);
	background-color: var(--color-black);

	@include mq(md) {
		padding-top: rem(60px);
	}

	@include mq(sm) {
		padding: rem(40px) 0 rem(60px) 0;
	}

	&__container {
		display: flex;
		@include mq(md) {
			flex-wrap: wrap;
		}
	}

	&__block {
		&:nth-child(2) {
			margin-left: auto;
		}

		@include mq(md) {
			width: 50%;

			&:nth-child(1) {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: rem(60px);
			}

			&:nth-child(2) {
				order: 3;
				display: flex;
			}

			&:nth-child(3) {
				order: 2;
			}
		}


		@include mq(sm) {
			width: 100%;
			margin-bottom: rem(32px) !important;

			&:nth-child(2) {
				order: 2;
			}

			&:nth-child(3) {
				order: 3;
			}

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}

	&__logo {
		margin-bottom: rem(46px);

		@include mq(md) {
			margin-bottom: 0;
		}

		@include mq(sm) {
			.logo__text {
				display: none;
			}
		}
	}

	&__button {
		padding: rem(12px) rem(32px);
		margin-bottom: rem(70px);

		@include mq(md) {
			display: inline-block;
			margin-bottom: 0;
		}

		@include mq(xxs) {
			padding: rem(8px) rem(12px);
			font: var(--font-small);
			font-weight: 700;
		}
	}

	&__copyright {
		font: var(--font-small);
		margin-bottom: rem(4px);
		color: rgba(255, 255, 255, 0.5);

		&._md-size {
			display: none;

			@include mq(custom, max, 855px) {
				display: block;
			}
		}

		@include mq(custom, max, 855px) {
			display: none;
		}
	}

	&__devs {
		display: inline-flex;
		align-items: center;

		&._md-size {
			display: none;

			@include mq(custom, max, 855px) {
				display: inline-flex;
			}

			@include mq(sm) {
				flex-direction: column;
				align-items: stretch;
				margin-top: rem(20px);
			}
		}

		@include mq(custom, max, 855px) {
			display: none;
		}
	}

	&__devs-item {
		font: var(--font-small);
		color: rgba(255, 255, 255, 0.5);
		margin-right: rem(24px);

		span {
			display: inline-block;
			margin-left: rem(3px);
			text-decoration: underline;
			transition: color var(--main-transition);
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			span {
				color: var(--color-white);
				text-decoration: none;
			}
		}

		@include mq(sm) {
			margin-right: 0;
			margin-bottom: 4px;
		}
	}

	&__nav {
		margin-right: rem(100px);

		@include mq(md) {
			margin-right: 0;
			margin-left: auto;
			width: 21rem;
		}

		@include mq(sm) {
			width: 100%;
		}
	}

	&__info {
		margin-bottom: rem(20px);

		&-legend {
			display: block;
			margin-bottom: 4px;
			font: var(--font-tiny);
		}

		&-text {
			transition: color var(--main-transition);

			&._phone {
				&:hover {
					color: var(--color-green);
				}
			}

			&._email {
				&:hover {
					color: var(--color-green);
				}
			}
		}

		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}
	}

	&__social-links {
		margin-top: rem(20px);

		@include mq(md) {
			margin-bottom: rem(60px);
		}

		@include mq(sm) {
			margin-bottom: rem(32px);
		}
	}
}

.nav-footer {
	display: inline-flex;
	flex-direction: column;

	&__link {
		color: rgba(255, 255, 255, 0.5);
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-white);
		}
	}

	&__item {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
