.header {
	padding: rem(20px) 0;
	background-color: var(--color-white);

	&.menu-is-active {
		.header__logo,
		.header__button-burger {
			position: relative;
			z-index: 70;
		}
	}

	&__container {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: rem(32px);

		@include mq(sm) {
			.logo__text {
				display: none;
			}

			.logo__img {
				width: rem(90px);
				height: rem(53px);
			}
		}
		@include mq(xxs) {
			margin-right: rem(12px);

			.logo__img {
				width: rem(70px);
				height: rem(43px);
			}
		}
	}

	&__links {
		@include mq(md) {
			display: none;
		}
	}

	&__tel-group {
		display: inline-flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: rem(28px);

		@include mq(md) {
			display: none;
		}
	}

	&__tel {
		transition: color var(--main-transition);

		&:hover,
		&:focus {
			color: var(--color-green);
		}
	}

	&__button {
		padding: rem(12px) rem(32px);

		@include mq(md) {
			margin-left: auto;
		}

		@include mq(sm) {
			padding: rem(10px) rem(12px);
			font: var(--font-tiny);
			font-weight: 700;
		}

		@include mq(xxs) {
			padding: rem(8px) rem(12px);
		}
	}

	&__button-burger {
		margin-left: auto;

		@include mq(custom, max, 1366px) {
			margin-left: rem(32px);
		}

		@include mq(sm) {
			margin-left: rem(32px);
			width: rem(32px);
			height: rem(32px);
		}

		@include mq(xxs) {
			margin-left: rem(20px);
			height: rem(20px);

			span {
				&:nth-child(2) {
					margin: 0.4rem 0;
				}
			}
		}
	}
}

.header_grey {
	background-color: #f5f5f5;
}
