.header-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 65;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: var(--color-white);
	opacity: 0;
	visibility: hidden;
	transform: translateY(-100%);
	transition: opacity var(--main-transition), transform var(--main-transition), visibility var(--main-transition);

	@include mq(md) {
		display: block;
		align-items: stretch;
		justify-content: stretch;
		padding: rem(130px) 0 rem(143px) 0;
		overflow-y: scroll;
	}

	@include mq(sm) {
		padding-top: 11.5rem;
		padding-bottom: 3.2rem;
	}

	&._is-open {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	&__container {
		row-gap: 0;

		@include mq(md) {
			row-gap: 6rem;
		}

		@include mq(sm) {
			row-gap: 6rem;
		}
	}

	&__block {
		grid-column: 6 span;

		&:nth-child(1) {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
		}

		&._nav-list {
			ul {
				li {
					margin-bottom: rem(24px);

					&:last-child {
						margin-bottom: 0;
					}

					a {
						display: inline-block;
						font: var(--font-xl);
						font-weight: 400;
						transition: color var(--main-transition);

						&:hover {
							color: var(--color-green);
						}

						@include mq(custom, max, 1536px) {
							font: var(--font-big);
							font-weight: 400;
						}

						@include mq(sm) {
							font: var(--font-large);
						}
					}

					@include mq(custom, max, 1536px) {
						margin-bottom: rem(18px);
					}

					@include mq(sm) {
						margin-bottom: 1.6rem;
					}
				}
			}
		}

		@include mq(md) {
			grid-column: 12 span;

			&:nth-of-type(1) {
				order: 2;
			}

			&:nth-of-type(2) {
				order: 1;
			}
		}
	}

	&__info {
		margin-bottom: rem(20px);

		&:nth-child(1) {
			margin-top: auto;
		}

		&-legend {
			display: block;
			margin-bottom: 4px;
			font: var(--font-tiny);
		}

		&-text {
			transition: color var(--main-transition);

			&._phone {
				&:hover {
					color: var(--color-green);
				}
			}

			&._email {
				&:hover {
					color: var(--color-green);
				}
			}
		}

		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}
	}


	&__social-links {
		margin-top: rem(20px);
	}
}
