.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	height: 100%;
	background-color: rgba(28, 28, 28, 0.3);
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);

	&.is-open {
		opacity: 1;
		visibility: visible;
		transition: opacity var(--transition-time), visibility var(--transition-time);
	}

	&__container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: var(--color-white);
		border-radius: 3.2rem;
		max-width: 60.8rem;
		width: 100%;
		display: none;

		&.modal-open {
			display: block;
		}

		@include mq(md) {
			max-width: 53.4rem;
		}

		@include mq(sm) {
			max-width: 100%;
			border-radius: 0;
			height: 100%;
		}
	}

	&__content {
		width: 100%;
		height: 100%;
		padding: 3.2rem;
		position: relative;

		@include mq(md) {
			padding: 4rem 2rem;
			overflow-y: scroll;
		}

		@include mq(sm) {
			padding: 4rem 1.6rem;
			overflow-y: scroll;
		}
	}

	&__close-btn {
		position: absolute;
		top: 3.2rem;
		right: 3.2rem;
		z-index: 3;
		width: 2.4rem;
		height: 2.4rem;
		display: block;
		cursor: pointer;

		span {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background-color: var(--color-orange);

			&:nth-child(1) {
				transform: translate(-50%, -50%) rotate(-45deg);
			}

			&:nth-child(2) {
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}

		@include mq(md) {
			top: 1.6rem;
			right: 1.6rem;
			width: 2rem;
			height: 2rem;
		}
	}



}

.modal-pet {
	&__container {
		max-width: 100.2rem;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		column-gap: 3.2rem;

		@include mq(md) {
			column-gap: 0;
			row-gap: 2.7rem;
		}
	}

	&__slider-wrapper {
		position: relative;
		grid-column: 5 span;

		@include mq(md) {
			grid-column: 12 span;
		}
	}

	&__slider {
		&-item {
			img {
				width: 100%;
				height: 43.2rem;
				object-fit: cover;
				display: block;
				border-radius: 3.2rem;

				@include mq(sm) {
					height: 25rem;
				}
			}
		}
	}

	&__info {
		grid-column: 5 span;
		padding-top: 2.8rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 3.2rem;

		p {
			@include mq(sm) {
				font: var(--font-small);
			}
		}

		@include mq(md) {
			grid-column: 12 span;
			padding-top: 0;
		}
	}

	&__heading {
		display: block;
		margin-bottom: 1.2rem;
	}

	&__subheading {
		display: block;
		margin-bottom: 2.4rem;
		font: var(--font-small);
	}

	&__link {
		display: inline-block;
		color: var(--color-orange);
		font-weight: 600;
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-green);
		}

		&:nth-last-of-type(1) {
			margin-bottom: 1.2rem;
		}
	}

	&__nav {
		position: absolute;
		right: -9.3rem;
		bottom: 0;
		z-index: 3;

		@include mq(md) {
			position: static;
			right: auto;
			bottom: auto;
			margin-top: 2.4rem;
		}

		@include mq(sm) {
			margin-top: 1.6rem;
		}
	}
}

.modal-payment {
	&__heading {
		display: block;
		margin-bottom: 2.4rem;
	}

	&__content {
		padding: 6rem;
	}

	.payment-form {
		padding: 0;
	}
}


.modal-emergency {
	max-width: 99.4rem;
	overflow: hidden;

	@include mq(md) {
		max-width: 100%;
		height: 100%;
		border-radius: 0;
	}

	&__content {
		padding: 0;

		@include mq(md) {
			overflow-y: scroll;
			padding: 0;
		}

		@include mq(sm) {
			padding: 0;
		}
	}

	&__container {
		display: flex;

		@include mq(md) {
			flex-direction: column;
		}
	}

	&__right-block {
		padding: 6rem;
		width: calc(100% - 37.8rem);

		@include mq(md) {
			width: 100%;
			order: 2;
			padding: 4rem;
		}

		@include mq(sm) {
			padding: 4rem 2rem;
		}
	}

	&__left-block {
		width: 37.8rem;
		background-color: #f5f5f5;
		@include mq(md) {
			width: 100%;
			order: 1;
		}
	}

	&__text {
		p {
			margin-bottom: 0;

			@include mq(sm) {
				font: var(--font-small);
			}
		}
	}

	.modal__close-btn span {
		background-color: var(--color-white);
	}

	.payment-form {
		padding: 0;
	}

	.card__info {
		p {
			margin-bottom: 4rem;

			@include mq(sm) {
				font: var(--font-small);
			}
		}
	}
}

.modal-thanks {

	&__title {
		display: block;
		font: var(--font-big);
		font-weight: 800;
		margin-bottom: 2.4rem;
		text-align: center;
		text-transform: uppercase;
	}

	&__img {
		display: block;
		margin: 0 auto;
		width: 14.6rem;
		height: 11.4rem;
		margin-bottom: 3.2rem;
	}

	&__content {
		text-align: center;
		padding: 6rem 4.2rem;

		p {
			font: var(--font-normal);

			a {
				color: var(--color-orange);

				&:hover {
					color: var(--color-green);
				}
			}
		}
	}
}
