.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-green);
	margin-top: 6rem;

	@include mq(sm) {
		margin-top: 4rem;
	}

	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		width: 3.2rem;
		height: 3.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3.2rem;
		height: 3.2rem;

		&.active {
			&::before {
				opacity: 1;
			}
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			border: 1px solid var(--color-green);
			border-radius: 50%;
			opacity: 0;
			content: "";
		}
	}

	&__btn {
		width: 3rem;
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		.icon {
			fill: var(--color-green);
		}
	}
}
