.payment {
	padding: rem(100px) 0 0 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--color-black);

	@include mq(sm) {
		padding-top: rem(60px);
	}

	&__container {
		display: flex;
		justify-content: space-between;

		@include mq(md) {
			flex-direction: column;
		}
	}

	&__text-block {
		margin-bottom: 10rem;
		color: var(--color-white);

		ul {
			li {
				position: relative;
				padding-left: 1.9rem;
				margin-bottom: 1.2rem;

				&::before {
					position: absolute;
					top: rem(5px);
					left: 0;
					width: rem(12px);
					height: rem(12px);
					background-image: url(../img/paw.svg);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					content: "";
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&__col {
		&:nth-child(1) {
			width: calc(100% - 50.25rem);

			@include mq(md) {
				width: 100%;
				margin-bottom: rem(40px);
			}

			@include mq(sm) {
				margin-bottom: rem(32px);
			}
		}

		&:nth-child(2) {
			align-self: flex-end;
			width: rem(587px);

			@include mq(md) {
				width: 100%;
			}
		}
	}

	&__heading {
		color: var(--color-white);
		margin-bottom: rem(32px);

		@include mq(sm) {
			margin-bottom: rem(24px);
		}
	}

	&__text {
		max-width: 48.1rem;
		font: var(--font-normal);
		margin-bottom: rem(24px);
		color: var(--color-white);

		@include mq(md) {
			max-width: 70%;
		}

		@include mq(sm) {
			font: var(--font-small);
			max-width: none;
			margin-bottom: rem(20px);
		}
	}
}

.payment-form {
	width: 100%;
	padding: rem(48px) rem(48px) rem(42px) rem(48px);
	background-color: var(--color-white);
	border-radius: 32px 32px 0 0;

	@include mq(sm) {
		padding: rem(40px) rem(24px);
	}

	&__radio-btn-wrap {
		position: relative;
		display: flex;
		align-items: center;
		border-radius: 6px;
		overflow: hidden;

		@include mq(sm) {
			flex-direction: column;
		}
	}

	&__label {
		position: relative;
		display: block;
		width: 100%;

		&._disabled {
			pointer-events: none;

			span {
				background-color: var(--border-color);
				opacity: 0.2;
			}
		}
	}


	&__radio-btn-nav-line {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: var(--color-green);
		transition: left var(--main-transition);

		@include mq(sm) {
			display: none;
		}
	}

	&__radio-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: rem(56px);
		background-color: transparent;
		cursor: pointer;

		@include mq(sm) {
			width: 100%;
			margin-bottom: rem(12px);

			&:last-child {
				margin-bottom: 0;
			}

			span {
				border: 1px solid #D9D9D9 !important;
				border-radius: 6px !important;
			}
		}

		&._is-active {
			pointer-events: none;

			span {
				color: var(--color-white);
				border-color: var(--color-green);
			}

			@include mq(sm) {
				span {
					background-color: var(--color-green);
				}
			}
		}

		span {
			display: block;
			height: 100%;
			width: 100%;
			padding: rem(16px);
			color: var(--color-dark);
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
			transition: color var(--main-transition), background-color var(--main-transition), border-color var(--main-transition);
			border: 1px solid var(--border-color);
		}

		&:nth-of-type(1) {
			span {
				border-radius: 6px 0px 0px 6px;
				border-right: 0;
			}
		}

		&:nth-of-type(2) {
			span {
				border-radius: 0px 6px 6px 0px;
				border-left: 0;
			}
		}

		@include mq(lg, min) {
			&:hover {
				span {
					color: var(--color-green);
				}
			}
		}
	}

	&__legend {
		display: block;
		margin-top: rem(32px);
		margin-bottom: rem(20px);
		text-align: center;

		@include mq(sm) {
			margin-top: rem(24px);
			margin-bottom: rem(12px);
		}
	}

	&__checkbox-wrap {
		position: relative;
		display: flex;
		align-items: center;
		margin: -0.6rem;
		margin-bottom: 2rem;

		@include mq(sm) {
			flex-wrap: wrap;
			margin-bottom: rem(12px);
		}
	}

	&__checkbox-label {
		width: calc(25% - 1.2rem);
		height: 5.6rem;
		margin: 0.6rem;
		cursor: pointer;


		@include mq(sm) {
			width: calc(50% - 1.2rem);
		}

		&:hover {
			span {
				color: var(--color-green);
			}
		}

		input {
			&:checked {
				& ~ {
					span {
						background-color: var(--color-green);
						color: var(--color-white);
						border-color: var(--color-green);
					}
				}
			}
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			font-weight: 600;
			color: var(--color-dark);
			text-align: center;
			border: 1px solid var(--border-color);
			border-radius: 6px;
			transition: color var(--main-transition), background-color var(--main-transition), border-color var(--main-transition);
			pointer-events: none;
		}
	}


	&__input-container {
		position: relative;
		margin-bottom: rem(12px);

		&._disabled {
			background-color: var(--border-color);
			pointer-events: none;
			opacity: 0.2;
		}
	}

	&__agree {
		margin-bottom: rem(10px);

		&.parsley-error {
			.payment-form__agree-heading {
				color: tomato;

				a {
					color: tomato;
				}
			}
		}

		&:hover {
			.payment-form__agree-heading::before {
				background-color: #eec285 !important;
				border-color: #eec285 !important;
			}
		}

		input {
			&:checked {
				~ {
					.payment-form__agree-heading {
						&::before {
							background-color: var(--color-orange);
						}

						&::after {
							opacity: 1;
						}
					}
				}
			}
		}

		&-heading {
			position: relative;
			padding-left: rem(30px);
			display: block;
			font: var(--font-small);
			cursor: pointer;

			a {
				display: inline-block;
				margin-left: rem(4px);
				color: var(--color-green);
				transition: color var(--main-transition);

				&:hover {
					color: var(--color-dark);
				}
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: rem(18px);
				height: rem(18px);
				border-radius: 2px;
				background-color: transparent;
				border: 1px solid var(--color-orange);
				transition: background-color var(--main-transition);
				content: "";
			}

			&::after {
				position: absolute;
				top: 5px;
				left: 5px;
				z-index: 2;
				width: rem(8px);
				height: rem(7px);
				background-image: url(../img/tick.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				opacity: 0;
				content: "";
			}
		}
	}

	&__button {
		margin-top: rem(48px);
		margin-bottom: 3.2rem;
		padding: rem(20px);
		width: 100%;
		font: var(--font-large);
		font-weight: 700;

		@include mq(sm) {
			padding: rem(18px);
			font: var(--font-normal);
			font-weight: 700;
			margin-top: rem(22px);
		}
	}

	&__payment-services {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			display: inline-block;
			width: 4.5rem;
			height: 1.6rem;
			margin-right: 3.2rem;
			object-fit: contain;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
