.site-tag {
	display: flex;
	flex-wrap: wrap;
	margin: -0.5rem;

	&__item {
		display: block;
		margin: 0.5rem;

		@include mq(sm) {
			flex-shrink: 0;
			margin: 0;
			margin-right: 1rem;
			&:last-child {
				margin-right: 0;
			}
		}

		input:checked {
			~ .site-tag__item-text {
				background-color: var(--color-orange);
				color: var(--color-white);
			}
		}

	}

	&__item-text {
		display: block;
		padding: rem(8px) rem(20px);
		font: var(--font-normal);
		border-radius: rem(49px);
		border: 2px solid var(--color-orange);
		color: var(--color-orange);
		background-color: var(--color-white);
		transition: background-color var(--main-transition), color var(--main-transition);
		cursor: pointer;

		&:hover {
			background-color: var(--color-orange);
			color: var(--color-white);
		}
	}

	@include mq(sm) {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		margin: 0;
		position: relative;
	}
}

