.contacts-hero {
	@include mq(sm) {
		padding-top: 4rem;
	}

	&__content {
		row-gap: 0;

		@include mq(md) {
			row-gap: 4.8rem;
		}

		@include mq(sm) {
			row-gap: 0;
		}
	}

	&__title {
		margin-bottom: 3.2rem;

		@include mq(sm) {
			margin-bottom: 2.4rem;
		}
	}

	&__content-block {
		grid-column: 6 span;

		@include mq(md) {
			grid-column: 12 span;
		}

		p {
			strong,
			b {
				text-transform: uppercase;
				color: var(--color-orange);
			}


			&:last-of-type {
				margin-bottom: 2.4rem;
			}

			@include mq(sm) {
				font: var(--font-small);
			}
		}
	}

	&__content-img {
		display: block;
		width: 100%;
		height: 48.1rem;
		object-fit: cover;
		border-radius: 3.2rem;

		@include mq(sm) {
			display: none;
		}
	}

	&__info-blocks {
		display: flex;
		flex-wrap: wrap;
		margin: -1rem -1.6rem;
	}

	&__info {
		width: calc(50% - 3.2rem);
		margin: 1rem 1.6rem;

		&-legend {
			display: block;
			margin-bottom: 4px;
			font: var(--font-tiny);
		}

		&-text {
			transition: color var(--main-transition);

			&._phone {
				&:hover {
					color: var(--color-green);
				}
			}

			&._email {
				&:hover {
					color: var(--color-green);
				}
			}
		}

		@include mq(sm) {
			width: 100%;
		}
	}

	&__social-links {
		margin-top: rem(20px);

		@include mq(md) {
			margin-bottom: 0;
		}
	}
}
