extends layout/default

block variables
	- const bodyClass = "page-about-us"
	- const pageTitle = "О нас"
	- const siteLang = "ru"
	- let headerClass = "header_grey"

block content
	include pages/about-us/main.pug
