extends layout/default

block variables
	- const bodyClass = "page-contacts"
	- const pageTitle = "Контакты"
	- const siteLang = "ru"
	- let headerClass = "header_grey"

block content
	include pages/contacts/main.pug
