extends layout/default

block variables
	- const bodyClass = "page-docs"
	- const pageTitle = "Отчеты и документы"
	- const siteLang = "ru"
	- let headerClass = "header_grey"

block content
	include pages/documents/main
