extends layout/default

block variables
	- const bodyClass = "page-gallery"
	- const pageTitle = "Фотогалерея"
	- const siteLang = "ru"
	- let headerClass = "header_grey"

block content
	include pages/gallery/main.pug
