extends layout/default

block variables
	- const bodyClass = "page-help"
	- const pageTitle = "Как помочь?"
	- const siteLang = "ru"
	- let headerClass = "header_grey"

block content
	include pages/how-help/main.pug
