extends layout/default

block variables
	- const bodyClass = "page-news-detail"
	- const pageTitle = "Необходимы волонтеры с машинами"
	- const siteLang = "ru"
	- let headerClass = "header_grey"

block content
	include pages/news-detail/main.pug
