extends layout/default

block variables
	- const bodyClass = "page-news"
	- const pageTitle = "Новости"
	- const siteLang = "ru"
	- let headerClass = "header_grey"

block content
	include pages/news/main.pug
