mixin breadcrumbs(levels)
	.breadcrumbs__container.site-container&attributes(attributes)
		ul.breadcrumbs
			each item, index in levels

				- var count = index+1
				- var name = item[0]
				- var link = item[1] || null

				if link
					li.breadcrumbs__item
						a.breadcrumbs__item-link(href=link) #{name}
				else
					li.breadcrumbs__item #{name}
				//- для иконки между ссылкой
				//- if count < levels.length
				//- 	иконка
