.news {
	&__title {
		margin-bottom: 3.2rem;

		@include mq(sm) {
			margin-bottom: 2.4rem;
		}
	}

	&__tags {
		margin-bottom: 6rem;

		@include mq(sm) {
			margin-bottom: 2.2rem;
			padding-bottom: 1rem;
		}
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 3.2rem;

		@include mq(md) {
			gap: 0;
			row-gap: 2.4rem;
		}

		@include mq(sm) {
			row-gap: 3.2rem;
		}

		&-item {
			grid-column: 4 span;

			@include mq(md) {
				grid-column: 6 span;
			}

			@include mq(sm) {
				grid-column: 12 span;
			}
		}
	}

	@include mq(sm) {
		padding-top: 4rem;
	}
}


.news-item {
	position: relative;

	&__tag {
		position: absolute;
		top: 2.4rem;
		left: 2.4rem;
		z-index: 2;
		display: block;
		padding: 0.4rem 1.2rem;
		color: var(--color-white);
		background-color: var(--color-orange);
		border-radius: 0.4rem;
		font: var(--font-tiny);
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 3.2rem;
		object-fit: cover;
		transition: transform 2s;
	}

	&__date {
		font: var(--font-small);
		color: #999;
		padding-right: 1.2rem;
	}

	&__time {
		font: var(--font-small);
		color: #999;
		padding-right: 1.2rem;
	}

	&__heading-link {
		display: block;
		width: 100%;
		height: 22rem;
		overflow: hidden;
		border-radius: 3.2rem;
		margin-bottom: 2.4rem;

		&:hover {
			.news-item__img {
				transform: scale(1.2);
			}
		}

		@include mq(sm) {
			margin-bottom: 1.6rem;
		}
	}

	&__heading {
		margin: 0;
		margin-top: 0.4rem;
		margin-bottom: 1.2rem;
		font: var(--font-middle);
		font-weight: 700;
		text-transform: uppercase;
		max-width: 33.1rem;
	}

	p {
		margin: 0;
		margin-bottom: 2.4rem;

		@include mq(sm) {
			font: var(--font-small);
			margin-bottom: 1.2rem;
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		color: var(--color-green);
		transition: color var(--main-transition);

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			border-bottom: 1px dashed currentColor;
			content: "";
			transition: opacity var(--main-transition);
		}

		&:hover {
			color: var(--color-orange);

			&::before {
				opacity: 0;
			}
		}
	}

}
