section.contacts-hero.section
	.contacts-hero__container.site-container
		h1.contacts-hero__title.second-title
			|	Контакты
		.contacts-hero__content.grid
			.contacts-hero__content-block
				p
					|	 В приют можно приезжать в светлое время суток (ориентировочно с 9:00 до 18:00), обязательно <strong>ПО ПРЕДВАРИТЕЛЬНОЙ ДОГОВОРЕННОСТИ</strong>.
					br
					|	Лица младше 18 лет могут посещать приют только в присутствии взрослых.
				.contacts-hero__info-blocks
					.contacts-hero__info
						span.contacts-hero__info-legend
							|	Фактический адрес
						span.contacts-hero__info-text
							|	г.Калуга р-н Терепец
					.contacts-hero__info
						span.contacts-hero__info-legend
							|	Наша почта
						a.contacts-hero__info-text._email(href="")
							|	vernye.druzya@ya.ru
					.contacts-hero__info
						span.contacts-hero__info-legend
							|	Юридический адрес
						span.contacts-hero__info-text
							|	248001, г.Калуга, ул.Кирова, д. 15/43, офис № 1
					.contacts-hero__info
						span.contacts-hero__info-legend
							|	Наши телефоны
						a.contacts-hero__info-text._phone(href="tel:+79107088401")
							|	+7 910 708 84 01;
						a.contacts-hero__info-text._phone(href="tel:+79533381521")
							|	+7 953 338 15 21
				ul.list-reset.social-links.contacts-hero__social-links
					li.social-links__item
						a.social-links__link(href="/")
							+icon("fb")(class="social-links__icon")
					li.social-links__item
						a.social-links__link(href="/")
							+icon("ok")(class="social-links__icon")
					li.social-links__item
						a.social-links__link(href="/")
							+icon("inst")(class="social-links__icon")
					li.social-links__item
						a.social-links__link(href="/")
							+icon("vk")(class="social-links__icon")
					li.social-links__item
						a.social-links__link(href="/")
							+icon("tiktok")(class="social-links__icon")
			.contacts-hero__content-block
				img(src="img/contacts/contacts-img.jpg", alt="Описание" class="contacts-hero__content-img")

