- let feauturesArr = [{name: "Наши принципы",items: ["«Каждая жизнь это великая ценность»", "«Помочь может каждый!» и  «Маленькой помощи не бывает!»", "«Волонтер это обычный человек»", "«Никакой коммерции и политики, только благотворительность и волонтерство»", "«Комфорт и качество жизни питомцев это главное – в приюте почти как дома»"]},{name: "Наши задачи",items: ["Поддержание деятельности и развитие приюта", "Оказание помощи попавшим в беду животным и пристройство их в надёжные руки", "Снижение популяции бездомных животных (путем стерилизации)", "Просвещение населения в направлении гуманного отношения к животным и природе в целом (в том числе стерилизации, вакцинации животных) и юридической защиты прав животных", "Содействие в воспитании настоящих людей"]},{name: "Наша деятельность",items: ["Пожизненное содержание животных в приюте (количество, к сожалению, ограничено)", "Стерилизация, вакцинация, лечение, уход, социализация, пристройство", "Просветительская деятельность (экскурсии, лекции, акции, работа со СМИ, ведение соц.сетей, консультативная помощь населению)", "Правовая деятельность, борьба с жестоким обращением с животными, участие в законотворчестве"]}]

section.section.about-feautures
	.site-container.about-feautures__container
		ul.about-feautures__list.grid.list-reset
			each val, index in feauturesArr
				li.about-feautures__item
					+imgLazy(`img/about-feauture-img${index}.png`, val.name)(class="about-feautures__img")
					h2.about-feautures__heading=val.name
					ul.list-reset.feautures
						each val2 in val.items
							li.feautures__item=val2

