section.section.emergency
	.site-container.emergency__container.js-swiper(data-swiper-slides-preview="3", data-swiper-gap="32")
		.emergency__title-wrap
			h2.second-title.emergency__title
				|	Срочные сборы
			.slider-nav
				button.button-reset.slider-button._prev.js-slider-btn-prev(aria-label="Предыдущий слайд")
					+icon("arrow-prev")(class="slider-button__icon")
				button.button-reset.slider-button._next.js-slider-btn-next(aria-label="Следующий слайд")
					+icon("arrow-next")(class="slider-button__icon")
		.emergency__slider.slider-container.swiper-container.js-swiper-container
				.swiper-wrapper
					- for (let i = 0; i<5; i++)
						.swiper-slide.emergency__slider-item
							include ../../parts/card.pug
