section.section.hero.lazy(data-bg="img/index-hero-img.webp", data-bg-fallback="img/index-hero-img.jpg")
	._mobile-bg
	.site-container.hero__container
		h1.hero__title.hero-title
			|	Спасаем бездомных животных более 12 лет
		p.hero__text
			|	Тысячи вылеченных и&nbsp;пристроенных подопечных, нелегкий ежедневный труд волонтеров, никакой коммерции, только благотворительность&nbsp;и
		button.button-reset.button.hero__button(data-path="help" data-animation="fadeInUp" data-speed="300")
			|	Помочь сейчас
