section.section.who-are-we
	.site-container.who-are-we__container.js-swiper(data-swiper-slides-preview="1.6", data-swiper-gap="20")
		.who-are-we__col
			h2.who-are-we__title.second-title
				|	Кто мы?
			p.who-are-we__text
				|	Наша организация, общество защиты животных &laquo;Верные друзья&raquo;, родилась в&nbsp;начале 2009&nbsp;года, и&nbsp;в&nbsp;том&nbsp;же году нами был основан первый в&nbsp;Калужской области приют для бездомышей с&nbsp;одноименным названием. С&nbsp;тех пор мы&nbsp;два раза переезжали, а&nbsp;количество питомцев выросло с&nbsp;35&nbsp;до&nbsp;350. В&nbsp;основном это собаки, 60&nbsp;кошек, но&nbsp;бывают и&nbsp;лисы, и&nbsp;птицы, и&nbsp;хорьки...много животных-инвалидов и&nbsp;старичков...любим всех!
			a.global-link(href="gallery.html")
				|	Смотреть альбом
			.who-are-we__slider-nav
				.slider-nav
					button.button-reset.slider-button._prev.js-slider-btn-prev(aria-label="Предыдущий слайд")
						+icon("arrow-prev")(class="slider-button__icon")
					button.button-reset.slider-button._next.js-slider-btn-next(aria-label="Следующий слайд")
						+icon("arrow-next")(class="slider-button__icon")
		.who-are-we__col
			.who-are-we__slider.slider-container.swiper-container.js-swiper-container
				.gl-slider__wrapper.swiper-wrapper
					- for (let i=0; i<4; i++)
						.swiper-slide
							img(class="who-are-we__image", src=`img/who-are-we0.jpg`, alt="Шарик")
	.site-container
		p.who-are-we__info-text
			|	Мы&nbsp;не&nbsp;имеем офисов, все члены команды работают, а&nbsp;приют&nbsp;&mdash; занимает всё свободное от&nbsp;работы время. Спонсоров&nbsp;&mdash; тоже не&nbsp;имеем, все эти годы приют живёт собственными средствами организаторов и&nbsp;пожертвованиями неравнодушных людей.
		.who-are-we__images
			- for (let e=0; e<4; e++)
				+pictureLazy(`who-are-we-grid-img${e}.jpg`, "Наши питомцы")(class="who-are-we__grid-img")
