.card.js-emergency-card
	img(src="img/puppy.jpg" alt="Щеночек" class="card__image")
	.card__info
		span.card__legend
			|	Нужно МРТ
		p
			|	Щеночек на 26 число записан на МРТ! Также везём на МРТ нашу Венди(помните собачку, которую мы спасали в 2014 году?)! Нужно не менее 15 тысяч! Этим же рейсом надеемся забрать из стационара Носик

		.card__progress
			span.card__progress-line
				span.card__progress-line-inner
			.card__progress-items
				.card__progress-item
					span.card__progress-item-heading.js-summ
						|	3 000 ₽
					span.card__progress-item-text
						|	Собрано
				.card__progress-item
					span.card__progress-item-heading.js-need
						|	15 000 ₽
					span.card__progress-item-text
						|	Необходимо
				.card__progress-item
					span.card__progress-item-heading.js-days
						|	10
					span.card__progress-item-text
						|	Дней осталось
		button.button-reset.button.card__button.js-open-warning-modal(data-path="help-emergency" data-animation="fadeInUp" data-speed="300" data-summ="10 000 ₽" data-need="15 000 ₽" data-rest="10" data-img="img/puppy.jpg" data-title="Нужно МРТ" data-text="Щеночек на 26 число записан на МРТ! Также везём на МРТ нашу Венди(помните собачку, которую мы спасали в 2014 году?)! Нужно не менее 15 тысяч! Этим же рейсом надеемся забрать из стационара Носик")
			|	Пожертвовать
