- let arr = [{name: "Главная", link: "index.html"}, {name: "О нас", link: "about-us.html"}, {name: "Как помочь?", link: "how-help.html"}, {name: "Отчеты", link: "documents.html"}, {name: "Наши питомцы", link: "gallery.html"}, {name: "Новости", link: "news.html"}, {name: "Контакты", link: "contacts.html"}]

footer.footer
	.site-container.footer__container
		.footer__block
			a.logo.footer__logo(href="/")
				img(src="img/logo.svg", alt="Логотип", class="logo__img")
				span.logo__text._white
					|	 КГОО "Общество защиты животных «Верные друзья»
			button.button-reset.button.footer__button(data-path="help" data-animation="fadeInUp" data-speed="300")
				|	Помочь сейчас
			p.footer__copyright
				|	© 2021, Общество защиты животных «Верные друзья»
			.footer__devs
				a.footer__devs-item(href="/")
					|	Design by:
					span
						|	Vlad Alyakin
				a.footer__devs-item(href="/")
					|	Develop by:
					span
						|	Nail Galimov
		.footer__block
			nav.footer__nav
				ul.nav-footer.list-reset
					for val in arr
						li.nav-footer__item
							a.nav-footer__link(href=val.link)=val.name
		.footer__block
			.footer__info-blocks
				.footer__info
					span.footer__info-legend
						|	Фактический адрес
					span.footer__info-text
						|	г.Калуга р-н Терепец
				.footer__info
					span.footer__info-legend
						|	Юридический адрес
					span.footer__info-text
						|	248001, г.Калуга, ул.Кирова, д. 15/43, офис № 1
				.footer__info
					span.footer__info-legend
						|	Наша почта
					a.footer__info-text._email(href="")
						|	vernye.druzya@ya.ru
				.footer__info
					span.footer__info-legend
						|	Наши телефоны
					a.footer__info-text._phone(href="tel:+79107088401")
						|	+7 910 708 84 01;
					a.footer__info-text._phone(href="tel:+79533381521")
						|	+7 953 338 15 21
			ul.list-reset.social-links.footer__social-links
				li.social-links__item
					a.social-links__link(href="/")
						+icon("fb")(class="social-links__icon")
				li.social-links__item
					a.social-links__link(href="/")
						+icon("ok")(class="social-links__icon")
				li.social-links__item
					a.social-links__link(href="/")
						+icon("inst")(class="social-links__icon")
				li.social-links__item
					a.social-links__link(href="/")
						+icon("vk")(class="social-links__icon")
				li.social-links__item
					a.social-links__link(href="/")
						+icon("tiktok")(class="social-links__icon")
			noindex
				p.footer__copyright._md-size
					|	© 2021, Общество защиты животных «Верные друзья»
				.footer__devs._md-size
					a.footer__devs-item(href="/")
						|	Design by:
						span
							|	Vlad Alyakin
					a.footer__devs-item(href="/")
						|	Develop by:
						span
							|	Nail Galimov
