- let nav_arr = [{name: "Главная", link: "index.html"}, {name: "О нас", link: "about-us.html"}, {name: "Как помочь?", link: "how-help.html"}, {name: "Отчеты", link: "documents.html"}, {name: "Наши питомцы", link: "gallery.html"}, {name: "Новости", link: "news.html"}, {name: "Контакты", link: "contacts.html"}]

header.header(class=headerClass)
	.site-container.header__container
		a.logo.header__logo(href="/")
			img(src="img/logo.svg", alt="Логотип", class="logo__img")
			span.logo__text
				|	 КГОО "Общество защиты животных «Верные друзья»
		ul.header__links.list-reset.social-links
			li.social-links__item
				a.social-links__link(href="/")
					+icon("fb")(class="social-links__icon")
			li.social-links__item
				a.social-links__link(href="/")
					+icon("ok")(class="social-links__icon")
			li.social-links__item
				a.social-links__link(href="/")
					+icon("inst")(class="social-links__icon")
			li.social-links__item
				a.social-links__link(href="/")
					+icon("vk")(class="social-links__icon")
			li.social-links__item
				a.social-links__link(href="/")
					+icon("tiktok")(class="social-links__icon")
		.header__tel-group
			a.header__tel(href="tel:+79107088401")
				|	+7 910 708 84 01
			a.header__tel(href="tel:+79533381521")
				|	+7 953 338 15 21
		button.button-reset.button.header__button(data-path="help" data-animation="fadeInUp" data-speed="300")
			|	Помочь сейчас
		button.button-reset.button-burger.header__button-burger(aria-label="Меню")
			span
			span
			span
	.header__nav.header-nav
		.site-container.header-nav__container.grid
			.header-nav__block
				.header-nav__info
					span.header-nav__info-legend
						|	Фактический адрес
					span.header-nav__info-text
						|	г.Калуга р-н Терепец
				.header-nav__info
					span.header-nav__info-legend
						|	Юридический адрес
					span.header-nav__info-text
						|	248001, г.Калуга, ул.Кирова, д. 15/43, офис № 1
				.header-nav__info
					span.header-nav__info-legend
						|	Наша почта
					a.header-nav__info-text._email(href="")
						|	vernye.druzya@ya.ru
				.header-nav__info
					span.header-nav__info-legend
						|	Наши телефоны
					a.header-nav__info-text._phone(href="tel:+79107088401")
						|	+7 910 708 84 01;
					a.header-nav__info-text._phone(href="tel:+79533381521")
						|	+7 953 338 15 21
				ul.list-reset.social-links.header-nav__social-links
					li.social-links__item
						a.social-links__link(href="/")
							+icon("fb")(class="social-links__icon")
					li.social-links__item
						a.social-links__link(href="/")
							+icon("ok")(class="social-links__icon")
					li.social-links__item
						a.social-links__link(href="/")
							+icon("inst")(class="social-links__icon")
					li.social-links__item
						a.social-links__link(href="/")
							+icon("vk")(class="social-links__icon")
					li.social-links__item
						a.social-links__link(href="/")
							+icon("tiktok")(class="social-links__icon")
			.header-nav__block._nav-list
				ul
					for item in nav_arr
						li
							a(href=item.link)=item.name

