.modal__container.modal-thanks.modal-thanks__container(data-target="thanks")
	.modal__content.modal-thanks__content
		button.button-reset.modal__close-btn.modal-close
			span
			span
		img(src="img/thks-img.png", alt="" class="modal-thanks__img")

		span.modal-thanks__title
			|	Спасибо!

		p
			|	Мы благодарим вас за ваш вклад в жизнь нашего замечательного приюта. Для достоверности того, что средства были потрачены по назначению, вы можете ознакомится со страницей
			a(href="/")
				|	Отчеты
