.modal__container.modal-emergency(data-target="help-emergency")
	.modal__content.modal-emergency__content
		button.button-reset.modal__close-btn.modal-close
			span
			span
		.modal-emergency__container
			.modal-emergency__right-block
				span.modal-heading.modal-payment__heading
					| Помощь
				.modal-emergency__text
					p
						|	Спасибо что решили сделать доброе дело и помочь животному. Укажите сумму пожертвования и выберите удобный для вас способ. Сделаем Добро Вместе!
				form.payment__form.payment-form(action="/" data-need-validation)
					span.payment-form__legend
						|	Размер пожертвования
					.payment-form__checkbox-wrap
						label.payment-form__label.payment-form__checkbox-label
							input(type="radio" name="amount" value="100" class="visually-hidden js-price-min" data-parsley-required)
							span
								|	100 ₽
						label.payment-form__label.payment-form__checkbox-label
							input(type="radio" name="amount" value="300" class="visually-hidden js-price-min" data-parsley-required)
							span
								|	300 ₽
						label.payment-form__label.payment-form__checkbox-label
							input(type="radio" name="amount" value="500" class="visually-hidden js-price-min" data-parsley-required)
							span
								|	500 ₽
						label.payment-form__label.payment-form__checkbox-label
							input(type="radio" name="amount" value="1000" class="visually-hidden js-price-min" data-parsley-required)
							span
								|	1000 ₽
					label.payment-form__label.payment-form__input-container
						input(type="number" name="amount" class="input js-price" data-parsley-required)
						span.payment-form__input-heading.input-heading
							|	Другая сумма, ₽
					label.payment-form__label.payment-form__agree
						input(type="checkbox" name="oferta", checked, value="Y" class="visually-hidden" data-parsley-required)
						span.payment-form__agree-heading
							|	Я принимаю
							a(href="/")
								|	Условия договора оферты
					label.payment-form__label.payment-form__agree
						input(type="checkbox" name="oferta", checked, value="Y" class="visually-hidden" data-parsley-required)
						span.payment-form__agree-heading
							|	Соглашаюсь на обработку моих
							a(href="/")
								|	персональных данных
					button.button-reset.button.payment-form__button
						|	Пожертвовать
					.payment-form__payment-services
						img(src="img/visa.png" alt="visa")
						img(src="img/mastercard.png" alt="mastercard")
						img(src="img/unknown.png" alt="unknown")
						img(src="img/mir.png" alt="mir")
			.modal-emergency__left-block
				img(src="img/puppy.jpg" alt="Щеночек" class="card__image")
				.card__info
					span.card__legend.js-card-title
						|	Нужно МРТ
					p
						|	Щеночек на 26 число записан на МРТ! Также везём на МРТ нашу Венди(помните собачку, которую мы спасали в 2014 году?)! Нужно не менее 15 тысяч! Этим же рейсом надеемся забрать из стационара Носик

					.card__progress
						span.card__progress-line
							span.card__progress-line-inner
						.card__progress-items
							.card__progress-item
								span.card__progress-item-heading.js-modal-summ
									|	10 000 ₽
								span.card__progress-item-text
									|	Собрано
							.card__progress-item
								span.card__progress-item-heading.js-modal-need
									|	15 000 ₽
								span.card__progress-item-text
									|	Необходимо
							.card__progress-item
								span.card__progress-item-heading.js-modal-days
									|	10
								span.card__progress-item-text
									|	Дней осталось

