.modal__container.modal-pet__container.js-modal-pet(data-target="first")
	.modal__content
		button.button-reset.modal__close-btn.modal-close
			span
			span
		.modal-pet__content.js-swiper(data-swiper-slides-preview="1" data-swiper-gap="10")
			.modal-pet__slider-wrapper
				.modal-pet__slider.slider-container.swiper-container.js-swiper-container
					.gl-slider__wrapper.swiper-wrapper.js-modal-pet-slide-wrapper
						- for (let i = 0; i<5; i++)
							.swiper-slide.modal-pet__slider-item
								img(src="img/modal-pet/img1.jpg" alt="Описание")
				.slider-nav.modal-pet__nav
					button.button-reset.slider-button._prev.js-slider-btn-prev(aria-label="Предыдущий слайд")
						+icon("arrow-prev")(class="slider-button__icon")
					button.button-reset.slider-button._next.js-slider-btn-next(aria-label="Следующий слайд")
						+icon("arrow-next")(class="slider-button__icon")
			.modal-pet__info
				span.modal-pet__heading.modal-heading.js-modal-pet-heading
				span.modal-pet__subheading.js-modal-pet-subheading
				.js-modal-pet-text
				a.modal-pet__link(href="tel:+79107088401")
					|	+7 910 708 84 01
				a.modal-pet__link(href="tel:+79533381521")
					|	+7 953 338 15 21
