.modal__container.modal-pet__container(data-target="second")
	.modal__content
		button.button-reset.modal__close-btn.modal-close
			span
			span
		.modal-pet__content.js-swiper(data-swiper-slides-preview="1", data-swiper-gap="10")
			.modal-pet__slider-wrapper
				.modal-pet__slider.slider-container.swiper-container.js-swiper-container
					.gl-slider__wrapper.swiper-wrapper
						- for (let i = 0; i<5; i++)
							.swiper-slide.modal-pet__slider-item
								img(src="img/modal-pet/img2.jpg", alt="Описание")
				.slider-nav.modal-pet__nav
					button.button-reset.slider-button._prev.js-slider-btn-prev(aria-label="Предыдущий слайд")
						+icon("arrow-prev")(class="slider-button__icon")
					button.button-reset.slider-button._next.js-slider-btn-next(aria-label="Следующий слайд")
						+icon("arrow-next")(class="slider-button__icon")
			.modal-pet__info
				span.modal-pet__heading.modal-heading
					| Томат
				span.modal-pet__subheading
					|	Мальчик (1 год)
				p
					|	Краткая история о пристройстве
				p
					|	Правда, он выглядит как Лучок и Свеколка? Судя по всему, Томат — их родной брат! Вместе с двадцатью кошками и котятами их выбросили в мешках, как ненужный мусор, но на характер малышей это событие не сильно повлияло. Томат, как большинство его пушистых сверстников, веселый, активный и игривый котенок, готовый начать карьеру домашнего любимца.

