form.payment__form.payment-form(action="/" data-need-validation)
	.payment-form__radio-btn-wrap.nav-line-container
		span.payment-form__radio-btn-nav-line
		label.payment-form__label.payment-form__radio-btn
			input(type="radio" name="time", checked, value="monthly" class="visually-hidden")
			span
				|	Ежемесячно
		label.payment-form__label.payment-form__radio-btn
			input(type="radio" name="time" value="once" class="visually-hidden")
			span
				|	Единоразово
	span.payment-form__legend
		|	Размер пожертвования
	.payment-form__checkbox-wrap
		label.payment-form__label.payment-form__checkbox-label
			input(type="radio" name="amount" value="100" class="visually-hidden js-price-min" data-parsley-required)
			span
				|	100 ₽
		label.payment-form__label.payment-form__checkbox-label
			input(type="radio" name="amount" value="300" class="visually-hidden js-price-min" data-parsley-required)
			span
				|	300 ₽
		label.payment-form__label.payment-form__checkbox-label
			input(type="radio" name="amount" value="500" class="visually-hidden js-price-min" data-parsley-required)
			span
				|	500 ₽
		label.payment-form__label.payment-form__checkbox-label
			input(type="radio" name="amount" value="1000" class="js-price-min" class="visually-hidden" data-parsley-required)
			span
				|	1000 ₽
	label.payment-form__label.payment-form__input-container
		input(type="number" name="price" class="input js-price" data-parsley-required)
		span.payment-form__input-heading.input-heading
			|	Другая сумма, ₽
	span.payment-form__legend
		|	Ваши данные
	label.payment-form__label.payment-form__input-container
		input(type="email" name="email" class="input" data-parsley-required data-parsley-email)
		span.payment-form__input-heading.input-heading._required
			|	Ваш email
	label.payment-form__label.payment-form__input-container
		input(type="text" name="name" class="input" data-parsley-required)
		span.payment-form__input-heading.input-heading._required
			|	Имя и фамилия
	label.payment-form__label.payment-form__agree
		input(type="checkbox" name="oferta", checked, value="Y" class="visually-hidden" data-parsley-required)
		span.payment-form__agree-heading
			|	Я принимаю
			a(href="/")
				|	Условия договора оферты
	label.payment-form__label.payment-form__agree
		input(type="checkbox" name="policy", checked, value="Y" class="visually-hidden" data-parsley-required)
		span.payment-form__agree-heading
			|	Соглашаюсь на обработку моих
			a(href="/")
				|	персональных данных
	button.button-reset.button.payment-form__button
		|	Пожертвовать
	.payment-form__payment-services
		img(src="img/visa.png" alt="visa")
		img(src="img/mastercard.png" alt="mastercard")
		img(src="img/unknown.png" alt="unknown")
		img(src="img/mir.png" alt="mir")
