section.section.payment.lazy(data-bg="img/payment-bg.webp", data-bg-fallback="img/payment-bg.png")
	.site-container.payment__container
		.payment__col
			h2.payment__heading.second-title
				|	Как помочь?
			p.payment__text
				|	Принимаем любую посильную помощь! Также вы можете стать волонтером или просто рассказать о нас друзьям!
			a.payment__link.global-link(href="")
				|	КАК ЕЩЁ ПОМОЧЬ?
		.payment__col
			include payment-form.pug
