- let tags_arr_news = ["Всё", "Новости", "Мероприятия", "Статьи"];

section.news.section
	.site-container.news__container.js-tabs-container
		h1.news__title.second-title
			|	Новости
		.site-tag.news__tags
			for item, index in tags_arr_news
				- let isChecked = index == 0 ? 'checked' : false;
				+useTag(item, isChecked)
		.news__content.js-tab-content(data-tabs-content="Всё")
			.news__content-item.news-item
				span.news-item__tag
					| Новость
				a(href="news-detail.html" class="news-item__heading-link")
					img(class="news-item__img" src="img/news/img1.jpg" alt="Новость")
				.news-item__info
					span.news-item__date
						| 29.09.2021
					span.news-item__time
						| 13:25
					h3.news-item__heading
						| СПАСИБО ЗА ДОБРО ООО «Нестле Россия»
					p
						| Чудеса случаются! Сегодня Компания ООО «Нестле Россия» организовали нашему Приюту поставку сухого корма Pro Plan .
					a.news-item__link(href="news-detail.html")
						|  Подробнее
			.news__content-item.news-item
				span.news-item__tag
					|	Мероприятие
				a(href="news-detail.html" class="news-item__heading-link")
					img(class="news-item__img" src="img/news/img2.jpg" alt="Новость")
				.news-item__info
					span.news-item__date
						| 29.09.2021
					span.news-item__time
						| 13:25
					h3.news-item__heading
						| Фотовыставка бездомных животных из приюта
					p
						| Фотовыставка будет проходить с 25 сентября по 9 октября в ИКЦ около зала-трансформера. Вход свободный.
					a.news-item__link(href="news-detail.html")
						|  Подробнее
			.news__content-item.news-item
				span.news-item__tag
					|	Статья
				a(href="news-detail.html" class="news-item__heading-link")
					img(class="news-item__img" src="img/news/img3.jpg" alt="Новость")
				.news-item__info
					span.news-item__date
						| 29.09.2021
					span.news-item__time
						| 13:25
					h3.news-item__heading
						| Как стать нашим волонтером
					p
						| Чудеса случаются! Сегодня Компания ООО «Нестле Россия» организовали нашему Приюту поставку сухого корма Pro Plan .
					a.news-item__link(href="news-detail.html")
						|  Подробнее

		.news__content.js-tab-content(data-tabs-content="Новости")
			.news__content-item.news-item
				span.news-item__tag
					| Новость
				a(href="news-detail.html" class="news-item__heading-link")
					img(class="news-item__img" src="img/news/img1.jpg" alt="Новость")
				.news-item__info
					span.news-item__date
						| 29.09.2021
					span.news-item__time
						| 13:25
					h3.news-item__heading
						| СПАСИБО ЗА ДОБРО ООО «Нестле Россия»
					p
						| Чудеса случаются! Сегодня Компания ООО «Нестле Россия» организовали нашему Приюту поставку сухого корма Pro Plan .
					a.news-item__link(href="news-detail.html")
						|  Подробнее

		.news__content.js-tab-content(data-tabs-content="Мероприятия")
			.news__content-item.news-item
				span.news-item__tag
					|	Мероприятие
				a(href="news-detail.html" class="news-item__heading-link")
					img(class="news-item__img" src="img/news/img2.jpg" alt="Новость")
				.news-item__info
					span.news-item__date
						| 29.09.2021
					span.news-item__time
						| 13:25
					h3.news-item__heading
						| Фотовыставка бездомных животных из приюта
					p
						| Фотовыставка будет проходить с 25 сентября по 9 октября в ИКЦ около зала-трансформера. Вход свободный.
					a.news-item__link(href="news-detail.html")
						|  Подробнее

		.news__content.js-tab-content(data-tabs-content="Статьи")
			.news__content-item.news-item
				span.news-item__tag
					|	Статья
				a(href="news-detail.html" class="news-item__heading-link")
					img(class="news-item__img" src="img/news/img3.jpg" alt="Новость")
				.news-item__info
					span.news-item__date
						| 29.09.2021
					span.news-item__time
						| 13:25
					h3.news-item__heading
						| Как стать нашим волонтером
					p
						| Чудеса случаются! Сегодня Компания ООО «Нестле Россия» организовали нашему Приюту поставку сухого корма Pro Plan .
					a.news-item__link(href="news-detail.html")
						|  Подробнее


		.pagination
			button.button-reset.pagination__btn
				+icon("arrow-prev")(width="9" height="15")
			ul.pagination__list
				li.pagination__item
					a.pagination__link.active(href="/")
						|	1
				li.pagination__item
					a.pagination__link(href="/")
						|	2
				li.pagination__item
					a.pagination__link(href="/")
						|	3
				li.pagination__item
					| ...
				li.pagination__item
					a.pagination__link(href="/")
						|	24
			button.button-reset.pagination__btn
				+icon("arrow-next")(width="9" height="15")

