.about-feautures {
	&__heading {
		margin-bottom: rem(24px);
		color: var(--color-orange);
		font: var(--font-large);
		font-weight: 800;
		text-transform: uppercase;

		@include mq(sm) {
			font: var(--font-middle);
			font-weight: 800;
			margin-bottom: rem(12px);
		}
	}

	&__item {
		grid-column: 4 span;

		@include mq(md) {
			grid-column: 6 span;
		}

		@include mq(sm) {
			grid-column: 12 span;
		}
	}

	&__list {
		@include mq(md) {
			gap: 24px;
		}

		@include mq(sm) {
			gap: 20px;
		}
	}

	&__img {
		display: block;
		width: rem(240px);
		height: rem(240px);
		object-fit: cover;

		@include mq(sm) {
			width: rem(177px);
			height: rem(177px);
		}
	}
}

.feautures {
	&__item {
		position: relative;
		display: flex;
		align-items: flex-start;
		margin-bottom: rem(12px);
		max-width: 90%;
		padding-left: 2rem;

		@include mq(sm) {
			margin-bottom: rem(8px);
		}

		span {
			display: inline-block;
		}

		&::before {
			position: absolute;
			top: rem(5px);
			left: 0;
			width: rem(12px);
			height: rem(12px);
			background-image: url(../img/paw.svg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			content: "";

			@include mq(sm) {
				width: rem(11px);
				height: rem(9px);
			}
		}
	}

	&__icon {
		flex-shrink: 0;
		margin-right: rem(8px);
		width: rem(12px);
		height: rem(12px);
		fill: var(--color-green);
		transform: translateY(4px);

		@include mq(sm) {
			width: rem(11px);
			height: rem(9px);
		}
	}
}
