.emergency {
	&__title-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: rem(48px);

		@include mq(sm) {
			margin-bottom: rem(24px);
		}
	}

	&__title {
		margin-bottom: 0;
	}

	&__slider {
		margin: -1.5rem;
		padding: 1.5rem;
	}

	&__slider-item {
		flex-shrink: 0;
		margin-right: 3.2rem;

		@include mq(custom, max, 1366px) {
			.card {
				width: 100%;
			}
		}
	}

	@include mq(sm) {
		.slider-nav {
			display: none;
		}
	}
}
