.hero {
	position: relative;
	z-index: 3;
	padding: rem(125px) 0 rem(154px) 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@include mq(md) {
		padding-top: rem(100px);
		padding-bottom: rem(179px);
		background-position: 63% 90%;

		._mobile-bg {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: linear-gradient(96.02deg, #E7E7E7 32.71%, rgba(231, 231, 231, 0.32) 50.83%);
		}
	}

	@include mq(sm) {
		padding-top: rem(40px);
		padding-bottom: rem(60px);
	}

	&__title {
		max-width: rem(684px);
		margin-bottom: rem(24px);

		@include mq(sm) {
			font-size: rem(32px);
			line-height: rem(48px);
			margin-bottom: rem(12px);
		}
	}

	&__text {
		position: relative;
		font-family: var(--sans-ff);
		font-size: rem(20px);
		line-height: 1.4;
		max-width: rem(576px);
		margin-bottom: rem(122px);

		&::before {
			position: absolute;
			right: rem(-40px);
			bottom: calc((100% - 16px) * -1);
			width: rem(231px);
			height: rem(64px);
			background-image: url(../img/hero-text-love.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
		}

		@include mq(xl) {
			max-width: rem(450px);
			font-size: rem(18px);

			&::before {
				right: rem(-90px);
				bottom: calc((100% - 26px) * -1);
				width: rem(200px);
				height: rem(50px);
			}
		}

		@include mq(md) {
			max-width: rem(576px);
			font-size: rem(20px);

			&::before {
				right: auto;
				left: 0;
			}
		}

		@include mq(sm) {
			font-size: rem(16px);
			line-height: rem(24px);
			margin-bottom: rem(100px);

			&::before {
				width: rem(231px);
				height: rem(64px);
				bottom: calc((100% - 3px) * -1);
			}
		}

		@include mq(xxs) {
			&::before {
				bottom: calc((100% - 36px) * -1);
			}
		}
	}

	&__button {
		font: var(--font-large);
		font-weight: 700;
		padding: rem(21px) rem(44px);
		border-radius: rem(46px);

		@include mq(sm) {
			padding: rem(18px);
			width: 100%;
			font: var(--font-normal);
			font-weight: 700;
		}
	}
}
