.who-are-we {
	&__container {
		display: flex;
		justify-content: space-between;

		@include mq(custom, max, 900px) {
			flex-direction: column;
		}
	}

	&__col {
		&:nth-of-type(1) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: rem(380px);

			@include mq(custom, max, 900px) {
				width: 100%;
			}

			@include mq(sm) {
				.global-link {
					margin-bottom: rem(32px);
				}
			}
		}

		&:nth-of-type(2) {
			display: flex;
			align-items: center;
			width: calc(100% - 412px);

			picture {
				flex-shrink: 0;
			}

			@include mq(custom, max, 900px) {
				width: 100%;
			}
		}
	}

	&__slider {
		margin-right: -100%;
		padding-right: 100%;
	}

	&__image {
		flex-shrink: 0;
		width: rem(480px);
		height: rem(480px);
		border-radius: rem(32px);
		margin-right: rem(32px);

		@include mq(custom, max, 1366px) {
			width: 100%;
			height: auto;
		}

		@include mq(md) {
			width: rem(480px);
			height: rem(480px);
		}

		@include mq(sm) {
			width: auto;
			height: auto;
		}
	}

	&__title {
		margin-bottom: rem(32px);

		@include mq(sm) {
			margin-bottom: rem(24px);
		}
	}

	&__text {
		margin-bottom: rem(24px);

		@include mq(sm) {
			font: var(--font-small);
			margin-bottom: rem(20px);
		}
	}

	&__slider-nav {
		margin-top: auto;
		margin-bottom: rem(28px);

		@include mq(lg) {
			margin-top: rem(32px);
			margin-bottom: 0;
		}

		@include mq(md) {
			margin-bottom: rem(32px);
		}

		@include mq(sm) {
			display: none;
		}
	}

	&__info-text {
		margin: rem(80px) auto rem(40px) auto;
		max-width: rem(791px);
		font: var(--font-large);
		text-align: center;

		@include mq(sm) {
			font: var(--font-normal);
			margin: rem(40px) auto rem(20px) auto;
		}
	}

	&__images {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(2, rem(224px));
		gap: rem(32px);

		picture {
			&:nth-child(1) {
				grid-column: 4 span;
				grid-row: 1 / 3;

				.who-are-we__grid-img {
					border-radius: rem(32px) 0px 0px rem(32px);


				}
			}

			&:nth-child(2) {
				grid-column: 4 span;
				grid-row: 1;
			}

			&:nth-child(3) {
				grid-column: 4 span;
				grid-row: 2;
			}

			&:nth-child(4) {
				grid-column: 4 span;
				grid-row: 2 span;

				.who-are-we__grid-img {
					border-radius: 0px rem(32px) rem(32px) 0;
				}
			}
		}

		@include mq(custom, max, 855px) {
			grid-template-rows: repeat(2, rem(200px));
			gap: rem(24px);
		}

		@include mq(md) {
			grid-template-rows: repeat(2, rem(170px));
		}

		@include mq(sm) {
			display: flex;
			grid-template-columns: none;
			grid-template-rows: none;
			overflow-x: scroll;

			picture {
				flex-shrink: 0;

				&:nth-child(1) {
					grid-column: auto;
					grid-row: auto;
				}

				&:nth-child(2) {
					grid-column: auto;
					grid-row: auto;
				}

				&:nth-child(3) {
					grid-column: auto;
					grid-row: auto;
				}

				&:nth-child(4) {
					grid-column: auto;
					grid-row: auto;
				}
			}
		}
	}

	&__grid-img {
		display: block;
		object-fit: cover;
		height: 100%;
		width: 100%;

		@include mq(sm) {
			border-radius: rem(24px) !important;
			width: rem(420px);
			height: rem(420px);
		}

		@include mq(sm) {
			width: rem(210px);
			height: rem(210px);
		}
	}
}
