- let tags_arr = ["Корма", "Хозяйство", "Лекарства", "Игрушки и аксессуары"];

section.how-help-hero.section
	.site-container.how-help-hero__container.js-tabs-container
		h1.how-help-hero__title.second-title
			|	Как помочь?
		.site-tag.how-help-hero__tags
			for item, index in tags_arr
				- let isChecked = index == 0 ? 'checked' : false;
				+useTag(item, isChecked)
		.how-help-hero__content
			for item, index in tags_arr
				.how-help-hero__content-item.js-tab-content(data-tabs-content=item)
					.how-help-hero__content-text
						h2=item
						p
							|	Рекомендуемый список кормов и лакомств (мы будем рады любым видам и маркам кормов в любом количестве)
						ul
							li
								|	для собак: "Chappi", "Pedigree", "Dog Chow", "Purina"; "Monge", "Royal Canin" и другие корма премиум класса;
							li
								|	для кошек: премиум класса для кастрированных и стерилизованных кошек (например "Monge", "Gemon", "Royal Canin", "Brit" и пр.);
							li
								|	консервы и паучи любых марок (например "Собачье счастье", "Ем без проблем", "Brit", "Гурман", "Sheba" и пр.);
							li
								|	лечебные и гиппоалергенные сухие корма любых марок (Renal, Urinary, Gastro Intestinal и пр.);
							li
								|	мясные субродукты, мясо (НЕ кости);
							li
								|	крупы (рис, гречка), макароны;

					img(src="img/how-help-hero-img.png", alt="Кошка с собачкой едят из одной миски", class="how-help-hero__content-img")
