section.section.payment.lazy(data-bg="img/payment-bg.webp", data-bg-fallback="img/payment-bg.png")
	.site-container.payment__container
		.payment__col.payment__text-block
			h2.payment__heading.second-title
				|	Финансы
			p.payment__text
				|	Принимаем любую посильную помощь! Также вы можете стать волонтером или просто рассказать о нас друзьям!
			p.payment__text
				|	ИНН 4028044566
				br
				|	КПП 402701001
				br
				|	ОГРН 1094000000225
				br
				|	БИК 042908780
				br
				|	кор/сч 30101810100000000780
				br
				|	р/сч 40703810227000000074
				br
				|	Калужский РФ АО "РОССЕЛЬХОЗБАНК" (для КГОО "ОБЩЕСТВО ЗАЩИТЫ ЖИВОТНЫХ "ВЕРНЫЕ ДРУЗЬЯ")
			ul
				li
					|	карта Сбербанка - 5469 9802 0280 0773 (получатель Вероника)
				li
					|	карта Альфа-Банка 5486 7320 5469 6158 (получатель Анастасия)
				li
					|	карта Raiffeisen Bank 4476 2461 5145 3343 (получатель Анастасия)
				li
					|	карта Tinkoff Bank 4377 7237 7398 9755 (получатель Наталья)
				li
					|	"голодный" телефон "Билайн" - 8-906-710-18-43 (звонки не принимает!)
				li
					|	"голодный номер" МТС +7 910 594 0896 (звонки не принимает!)
				li
					|	кошелёк QIWI 9067101843;
				li
					|	Web-кошелек рублёвый - R368300608229
				li
					|	Web-кошелек долларовый Z379200711674
				li
					|	ЯК - 41001458377047;
				li
					|	paypal vernye.druzya@ya.ru

		.payment__col
			include ../../parts/payment-form.pug
