section.section.volunteers
	.site-container.volunteers__container.grid
		.volunteers__block.js-swiper(data-swiper-slides-preview="1.6", data-swiper-gap="32")
			.volunteers__slider.slider-container.swiper-container.js-swiper-container
				.swiper-wrapper
					.swiper-slide.volunteers__item
						img(class="volunteers__item-img", src="img/volunteers/dasha.jpg", alt="Аватар Даши")
						span.volunteers__item-name
							|	Даша
						span.volunteers__item-caption
							|	Грумер
						.volunteers__item-info
							p
								|	Я всю жизнь любила животных, помогала им как могла, и как только узнала о приюте, не раздумывая пошла помогать руками. А теперь с животными связано не только мое хобби, но и любимая работа
					.swiper-slide.volunteers__item
						img(class="volunteers__item-img", src="img/volunteers/natasha.jpg", alt="Аватар Даши")
						span.volunteers__item-name
							|	Наталья
						span.volunteers__item-caption
							|	Строитель
						.volunteers__item-info
							p
								|	Я с самого детства люблю животных, сейчас у меня много своих питомцев, но сил хватает и на помощь в приюте. Без любимых хвостиков не представляю своей жизни
					.swiper-slide.volunteers__item
						img(class="volunteers__item-img", src="img/volunteers/larisa.jpg", alt="Аватар Даши")
						span.volunteers__item-name
							|	Лариса
						span.volunteers__item-caption
							|	Инженер
						.volunteers__item-info
							p
								|	В первый раз пришла посмотреть, что за приют, устраивающий автоакции и акции пристройства. Поняла, что исчезнуть и забыть этих собак и кошек уже не смогу
			.volunteers__nav
				.slider-nav
					button.button-reset.slider-button._prev.js-slider-btn-prev(aria-label="Предыдущий слайд")
						+icon("arrow-prev")(class="slider-button__icon")
					button.button-reset.slider-button._next.js-slider-btn-next(aria-label="Следующий слайд")
						+icon("arrow-next")(class="slider-button__icon")


		.volunteers__block
			h2.volunteers__title.second-title
				|	ВОЛОНТЕРЫ
			p
				|	Помощь руками в приюте нужна <b>всегда</b>, как в будние, так и в выходные. Как на целый день, так и на час.
				br
				|	Есть задачи для настоящих мужчин и работа, посильная даже детям: уборка вольеров, бытовок, территории, фасовка опилок в мешки, сортировка пожертвований, мытье мисок, социализация животных, ремонт вольеров, благоустройство территории и <b>просто общение с животными.</b>
			ul
				li
					|	Помощь транспортом
				li
					|	Помощь руками
				li
					|	Помощь пиаром (фотосессии питомцам, размещение объявлений, информационная поддержка и просто РЕПОСТ в соц.сетях)
				li
					|	Проведение благотворительных акций и пр.
			p.volunteers__txt
				|	Для того, чтобы стать волонтером, просто свяжитесь с нами по телефонам:
			.volunteers__phones
				a(href="tel:+79107088401")
					|	+7 910 708 84 01
				a(href="tel:+79533381521")
					|	+7 953 338 15 21
