.how-help-hero {
	&__title {
		margin-bottom: rem(32px);

		@include mq(sm) {
			margin-bottom: 2.4rem;
		}
	}

	&__tags {
		margin-bottom: rem(60px);

		@include mq(sm) {
			margin-bottom: 3.2rem;
		}
	}

	&__content-item {
		display: flex;
		position: relative;
	}

	&__content-text {
		max-width: 56.5rem;

		h2,
		h3,
		h4,
		h5,
		h6 {
			font: var(--font-large);
			font-weight: 800;
			color: var(--color-orange);
			margin-bottom: 1.2rem;
			text-transform: uppercase;
		}

		p {
			color: #999;
			margin-bottom: 1rem;

			&:nth-last-of-type(1) {
				margin-bottom: 3.2rem;

				@include mq(sm) {
					margin-bottom: 2.4rem;
				}
			}

			@include mq(sm) {
				font: var(--font-small);
			}
		}

		ul {
			li {
				position: relative;
				padding-left: 1.9rem;
				margin-bottom: 1.2rem;

				&::before {
					position: absolute;
					top: rem(5px);
					left: 0;
					width: rem(12px);
					height: rem(12px);
					background-image: url(../img/paw.svg);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					content: "";
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		@include mq(md) {
			max-width: none;
		}
	}

	&__content-img {
		position: absolute;
		top: -9rem;
		right: 0;
		display: block;
		width: 56.4rem;
		height: 56.4rem;
		object-fit: cover;

		@include mq(md) {
			display: none;
		}
	}

	@include mq(sm) {
		padding-top: 4rem;
	}
}
