.volunteers {
	&__container {
		row-gap: 0;

		@include mq(md) {
			row-gap: 4rem;
		}

		@include mq(sm) {
			row-gap: 2.4rem;
		}
	}

	&__block {
		grid-column: 6 span;

		p {
			margin-bottom: 2.4rem;

			b, strong {
				color: var(--color-orange);
			}

			@include mq(sm) {
				font: var(--font-small);
				margin-bottom: 2rem;
			}
		}

		ul {
			margin-bottom: 3.2rem;

			li {
				position: relative;
				padding-left: 1.9rem;
				margin-bottom: 1.2rem;

				&::before {
					position: absolute;
					top: rem(5px);
					left: 0;
					width: rem(12px);
					height: rem(12px);
					background-image: url(../img/paw.svg);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					content: "";
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			@include mq(sm) {
				margin-bottom: 2rem;
			}
		}


		a {
			font-weight: 600;
			color: var(--color-orange);
			transition: color var(--main-transition);

			&:hover {
				color: var(--color-green);
			}

			@include mq(sm) {
				font: var(--font-normal);
				font-weight: 600;
			}
		}

		@include mq(md) {
			grid-column: 12 span;

			&:nth-of-type(1) {
				order: 2;
			}

			&:nth-of-type(2) {
				order: 1;
			}
		}
	}

	&__title {
		margin-bottom: 3.2rem;

		@include mq(sm) {
			margin-bottom: 2.4rem;
		}
	}

	&__txt {
		margin-bottom: 1.2rem !important;

		@include mq(sm) {
			margin-bottom: 0.8rem !important;
		}
	}

	&__phones {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__item {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 37.9rem;
		height: 42.4rem;
		background-color: #f5f5f5;
		padding: 3.2rem;
		border-radius: 3.2rem;

		@include mq(sm) {
			padding: 2.4rem;
			height: 36.4rem;
			width: 100%;
		}
	}

	&__item-img {
		width: 12rem;
		height: 12rem;
		border-radius: 50%;
		display: block;
		object-fit: cover;
		margin-bottom: 2rem;

		@include mq(sm) {
			width: 10rem;
			height: 10rem;
		}
	}

	&__item-name {
		display: inline-block;
		text-align: center;
		font: var(--font-middle);
		font-weight: 700;
		margin-bottom: 4px;
		color: var(--color-orange);
	}

	&__item-caption {
		display: inline-block;
		font: var(--font-small);
		margin-bottom: 2.4rem;

		@include mq(sm) {
			margin-bottom: 1.2rem;
		}
	}

	&__item-info {
		padding-top: 2.4rem;
		border-top: 1px solid var(--border-color);

		p {
			margin-bottom: 0;
			text-align: left;
		}

		@include mq(sm) {
			padding-top: 1.2rem;
		}
	}

	&__slider {
		display: flex;
		margin-bottom: 6.4rem;
		margin-left: -100%;
		padding-left: 100%;

		@include mq(md) {
			margin-bottom: 0;
			margin-left: 0;
			padding-left: 0;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.slider-nav {
			margin-left: auto;
		}

		@include mq(md) {
			display: none;
		}

		@include mq(sm) {
			display: flex;
			justify-content: center;
			margin-top: 2.4rem;

			.slider-nav {
				margin-left: 0;
			}
		}
	}
}
