.documents-hero {
	min-height: calc(100vh - 33.6rem);

	&__title {
		margin-bottom: 3.2rem;

		@include mq(sm) {
			margin-bottom: 2.4rem;
		}
	}

	&__financial-item {
		grid-column: 4 span;

		@include mq(md) {
			grid-column: 6 span;
		}

		@include mq(sm) {
			grid-column: 12 span;
		}
	}

	&__docs-container {
		row-gap: 0;
	}

	&__docs-col {
		grid-column: 6 span;

		@include mq(sm) {
			grid-column: 12 span;

			&:nth-of-type(2) {
				display: none;
			}
		}
	}

	@include mq(sm) {
		min-height: auto;
		padding-top: 4rem;
	}
}
