include ../data/config.pug
include ../mixins/**/*.pug

block variables

doctype html
html(lang=siteLang)
	head
		include ../parts/head.pug
	body(class=bodyClass)
		.preloader
			img(src="img/preloader-logo.svg", alt="/" class="preloader__logo")
		.page-wrapper
			block header
				include ../parts/header.pug

			block content

			block footer
				include ../parts/footer.pug
			.modal
				include ../parts/modal-pet.pug
				include ../parts/modal-pet-second.pug
				include ../parts/modal-help.pug
				include ../parts/modal-help-emergency.pug
				include ../parts/modal-thanks.pug


	block scripts
		script(src="js/main.js?v=" + siteVersion)
