*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	line-height: 1.2;

	@include mq(custom, max, 1568) {
		font-size: 9px;
	}

	@include mq(custom, max, 1366px) {
		font-size: 8px;
	}

	@include mq(md) {
		font-size: 10px;
	}

	@include mq(custom, max, 320px) {
		font-size: 9px;
	}
}

body {
	position: relative;
	color: var(--color-dark);
	font: var(--font-normal);
	background-color: var(--color-white);

	::selection {
		background-color: var(--color-green);
		color: var(--color-white);
	}

	@include mq(sm) {
		font: var(--font-small);
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: rem(24px);
	font-weight: 800;
	font-family: var(--second-ff);
}

p {
	margin: 0;
	font-size: 1.6rem;
	line-height: 1.5;
	margin-bottom: rem(12px);

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	outline: none;
	color: inherit;
	text-decoration: none;
}

.list-reset {
	padding: 0;
	margin: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.site-container {
	width: 100%;
	max-width: 1248px;
	margin: 0 auto;
	padding: 0 24px;

	@include mq(sm) {
		padding: 0 16px;
	}
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.page-main {
	flex-grow: 1;
}

