section.news-detail.section
	.site-container.news-detail__container
		h1.second-title.news-detail__title
			| Необходимы волонтеры с&nbsp;машинами
		.news-detail__content
				img(src="img/news-detail/img1.jpg", alt="Описание" class="news-detail__img")
				.news-detail__info
					.news-detail__info-tags
						span.news-detail__tag._type
							| Новость
						span.news-detail__tag
							| 29.09.2021
						span.news-detail__tag
							| 13:25
					p
						|	Друзья, этот год начался продуктивно во всех отношениях. Мы стали сотрудничать с Фондами, которые оказывают помощь кормами, что очень важно!
					p
						|	Но проблема в том, что нам не хватает волонтеров на машинах… Порой можно забрать паллет кормов, но просто некому…
					p
						|	Мы хотим создать группу в Вотс Апп, где будем публиковать адреса, с которых очень нужно помочь что-то забрать. Часто возникает необходимость забора с адресов, которые находятся рядом с домом или работой. Согласитесь, не будет очень обременительным помочь ) тем более, что это очень благодарное и доброе дело!
					p
						|	Если Вы готовы дать свой контакт и иногда помогать транспортом, напишите, пожалуйста, нашему волонтеру — 8-915-244-75-34 Марина.
					p
						|	Очень ждем Ваших откликов!
