- let news_arr = [{name: "СПАСИБО ЗА ДОБРО ООО «Нестле Россия»", tag: "Новость", img: "img1"}, {name: "Фотовыставка бездомных животных из приюта", tag: "Мероприятие", img: "img2"}, {name: "Как стать нашим волонтером", tag: "Статья", img: "img3"}, {name: "Как стать нашим волонтером", tag: "Мероприятие", img: "img3"}, {name: "Как стать нашим волонтером", tag: "новость", img: "img3"}]

section.news-detail-slider.section
	.site-container.news-detail-slider__container.js-swiper(data-swiper-slides-preview="3", data-swiper-gap="32")
		.news-detail-slider__title-container
			h2.news-detail-slider__title.second-title
				|	Другие новости
			.slider-nav
				button.button-reset.slider-button._prev.js-slider-btn-prev(aria-label="Предыдущий слайд")
					+icon("arrow-prev")(class="slider-button__icon")
				button.button-reset.slider-button._next.js-slider-btn-next(aria-label="Следующий слайд")
					+icon("arrow-next")(class="slider-button__icon")
		.news-detail-slider__slider.slider-container.swiper-container.js-swiper-container
			.gl-slider__wrapper.swiper-wrapper
				for item in news_arr
					.news-item.swiper-slide
						span.news-item__tag=item.tag
						a(href="news-detail.html" class="news-item__heading-link")
							img(class="news-item__img" src=`img/news/${item.img}.jpg` alt="Новость")
						.news-item__info
							span.news-item__date
								| 29.09.2021
							span.news-item__time
								| 13:25
							h3.news-item__heading=item.name
							p
								| Чудеса случаются! Сегодня Компания ООО «Нестле Россия» организовали нашему Приюту поставку сухого корма Pro Plan .
							a.news-item__link(href="news-detail.html")
								|  Подробнее
