.about-us-home {
	margin-bottom: 8rem;

	&__container {
		p {
			margin: 0 auto;
			margin-bottom: 4rem;
			font: var(--font-large);
			text-align: center;
			max-width: 79.1rem;

			strong,
			b {
				color: var(--color-orange);
			}

			@include mq(sm) {
				font: var(--font-normal);
				margin-bottom: 2rem;
			}
		}
	}

	&__images {
		row-gap: 0;

		img {
			display: block;
			object-fit: cover;
			grid-column: 3 span;
			width: 100%;
			height: 48rem;

			&:first-child {
				border-radius: 3.2rem 0 0 3.2rem;
			}

			&:last-child {
				border-radius: 0 3.2rem 3.2rem 0;
			}

			@include mq(md) {
				height: 32rem;
			}
		}

		@include mq(md) {
			column-gap: 2.4rem;
		}

		@include mq(sm) {
			display: flex;
			align-items: center;
			grid-template-columns: none;
			gap: 0;
			overflow-x: scroll;

			img {
				grid-column: none;
				border-radius: 3.2rem;
				margin-right: 2.4rem;
				flex-shrink: 0;
				width: 21rem;
				height: 21rem;

				&:first-child {
					border-radius: 3.2rem;
				}

				&:last-child {
					border-radius: 3.2rem;
				}
			}
		}
	}

	@include mq(sm) {
		margin-bottom: 6rem;
	}
}
