.about-us-content {
	margin-bottom: 8rem;

	&__title {
		margin-bottom: 3.2rem;

		@include mq(sm) {
			margin-bottom: 2.4rem;
		}
	}

	&__block {
		row-gap: 0;
		margin-bottom: 4.8rem;

		._left {
			grid-column: 6 span;

			@include mq(md) {
				grid-column: 12 span;
			}
		}

		._right {
			grid-column: 6 span;

			@include mq(md) {
				grid-column: 12 span;
			}
		}

		p {

		}

		@include mq(md) {
			margin-bottom: 4rem;
			row-gap: 3.2rem;
		}

		@include mq(sm) {
			margin-bottom: 3.2rem;
			gap: 2rem;
		}

		h2 {
			font: var(--font-large);
			font-weight: 800;
			margin-bottom: 1.2rem;
			text-transform: uppercase;
			color: var(--color-orange);
		}

		p {
			margin-bottom: 1.2rem;

			&:last-of-type {
				margin-bottom: 0;
			}

			@include mq(sm) {
				font: var(--font-small);
			}
		}

		&:nth-of-type(2n) {
			._left {
				order: 2;

				@include mq(md) {
					order: 1;
				}
			}

			._right {
				order: 1;

				@include mq(md) {
					order: 2;
				}
			}
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 44.4rem;
		object-fit: cover;
		display: none;

		@include mq(sm) {
			height: 20rem;
		}
	}

	&__video {
		position: relative;
		display: block;
		width: 100%;
		height: 44.4rem;
		background-color: var(--border-color);
		border-radius: 3.2rem;

		._link-logo {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 6rem;
			height: 6rem;
			border-radius: 50%;
			background-color: var(--color-green);

			&-icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 2rem;
				height: 2rem;
				fill: var(--color-white);
				content: "";
			}
		}

		@include mq(sm) {
			height: 20rem;
		}
	}

	@include mq(sm) {
		padding-top: 4rem;
		margin-bottom: 4rem;
	}
}
