.our-team {
	background-color: #f5f5f5;
	padding: 8rem 0;

	&__container {

	}

	&__title-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 3.2rem;
	}

	&__title {
		margin-bottom: 0;
	}

	// &__slider-nav {
	// 	display: none;
	// }

	&__card {
		width: 100%;
		display: flex;
		border-radius: 3.2rem;
		overflow: hidden;

		&-img {
			display: block;
			width: 34.7rem;
			min-height: 41.8rem;
			object-fit: cover;
		}

		&-info {
			width: calc(100% - 34.7rem);
			padding: 3.2rem;
			background-color: #fff;
		}

		&-title {
			font: var(--font-middle);
			font-weight: 700;
			margin-bottom: 0.4rem;
		}

		&-subtitle {
			display: inline-block;
			font: var(--font-small);
			margin-bottom: 2.4rem;
		}

		@include mq(md) {
			flex-direction: column;

			&-img {
				width: 100%;
				min-height: 0;
				height: 41.4rem;
				object-position: 100% 22%;
			}

			&-info {
				width: 100%;
				padding: 2.4rem;
			}
		}

		@include mq(sm) {
			&-img {
				height: 16.6rem;
			}

			&-info {
				padding: 1.6rem 1.6rem 2.4rem 1.6rem;

				p {
					font-size: var(--font-small);
				}
			}

			&-subtitle {
				margin-bottom: 1.6rem;
			}
		}
	}

	@include mq(sm) {
		padding: 6rem 0;
	}
}
